// Button Sizes
// --------------------------------------------------
.btn {
  outline: none;
  padding: $btn-padding;
  margin: 0;
  line-height: $btn-line-height;
  font-size: $btn-font-size;
  text-decoration: none;
  > .icon,  > .glyphicon {
    font-size: 24px;
    margin-right: 10px;
    top: 0;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
  }

  &:not(.btn-card-room) {
    @media (max-width: $screen-xs-max) {
      display: block;
      width: 100%;
      margin-bottom: 10px !important;
    }
  }

  &:hover, &:active, &:focus {
    &:hover, &:focus {
      outline: none;
      @include box-shadow(none);
    }
    outline: none;
    text-decoration: none;  
  }
  &.active, &:active  {
    @include box-shadow(none);
  }



  &.loading {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
  
    &:hover,
    &:active,
    &:focus {
        cursor: default;
        color: transparent;
        outline: none !important;
        box-shadow: none;
    }
    &:before {
        content: '';
        
        display: inline-block;
        
        position: absolute;
        background: transparent;
        border: 1px solid #fff;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        
        box-sizing: border-box;
        
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -12px;
        
        
        width: 24px;
        height: 24px;
        
        -webkit-animation: ld 1s ease-in-out infinite;
        -moz-animation:    ld 1s ease-in-out infinite;
        -o-animation:      ld 1s ease-in-out infinite;
        animation:         ld 1s ease-in-out infinite;
    }
  }
}


.btn-sm {
  padding: $btn-padding-samll;
  margin: 0;
  line-height: $btn-line-height-small;
  text-decoration: none;
}
// --------------------------------------------------


.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.btn-card-room {
  @include button-variant($btn-card-room-color, $btn-card-room-bg, $btn-card-room-border);
}

.btn-colorless {
  @include button-variant($btn-colorless-color, $btn-colorless-bg, $btn-colorless-border);
}

.btn-face {
  @include button-variant(#fff, #3b5998, rgba(0,0,0,0.2));
}


//  ============================================================
//  colors
//  ============================================================

.btn-face {
  padding-left: 0;
  padding-left: 50px;
  position: relative;
  text-align: left;
  span {
    padding-left: 10px;
    font-size: 25px;
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 8px;
    &:after {
      content: ' ';
      height: 40px;
      width: 1px;
      border-right: 1px solid rgba(0,0,0,0.4);
      display: block;
      position: absolute;
      top: -8px;
      right: -14px;
    }
  }

  &.btn-sm {
    span {
      &:after {
        height: 30px;
      }
    }
  }
}

.btn-primary {
  border: none;

  color: $btn-primary-color;

  &:hover{
    &:focus, &:active {
      background-color: $btn-primary-bg;
      border-color: $btn-primary-border;
    }
    &:active {
      background-color: $btn-primary-bg-hover;
      border-color: $btn-primary-border-hover;  
    }
    
    background-color: $btn-primary-bg-hover;
    border-color: $btn-primary-border-hover;
  }

  &:focus {
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;
     &:hover {
      background-color: $btn-primary-bg-hover;
      border-color: $btn-primary-border-hover;
    }
  }


  &:active, &.active {
    &:hover {
      background-color: $btn-primary-bg-hover;
      border-color: $btn-primary-border-hover;
    }
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;
  }
}


.btn-card-room {
  position: relative;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 9px;
  padding-right: 35px;
  &.btn-sm {
    line-height: 16px;  
  }  

  > [class^="icon"] {
    &:before {
      margin: 0;
      position: absolute;
      right: 7px;
      top: 8px;
    }
    &:after {
      content: ' ';
      position: absolute;
      top: -1px;
      height: 31px;
      width: 1px;
      border-right: 1px solid #fff;
      right: 27px;
      z-index: 22;
    }

  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    background-color: #757575;
    border-color: #757575;
    // &:active {
    //   &:hover {
    //     color: $color-q1;
    //     background-color: $color-q3;
    //     border-color: $color-q1;
    //   }
    // }
    &:focus, &:active, &:hover {
      background-color: #757575;
      border-color: #757575;
    }
  }
}

.btn-group {
  > .btn:hover {
    z-index: 0;
  }
  margin-right: 10px;
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
  .btn {
      background-color: #757575;
      border-color: #757575;
      cursor: not-allowed;
      @include opacity(0.65);
      &:focus, &:active, &:hover {
        background-color: #757575;
        border-color: #757575;
      }

    }
  }
  .btn-card-room {
    margin-right: 0 !important;
    padding-right: 15px;
    &.dropdown {
      margin: 0;
      min-height: 31px;
      padding: 10px 13px;
    }
  }
}

.btn-secondary {

  color: $btn-secondary-color;
  &.btn-sm {
    line-height: 16px;  
  }  
  
  &:hover{
    &:focus, &:active {
      background-color: $btn-secondary-bg;
      border-color: $btn-secondary-border;
    }
    &:active {
      background-color: $btn-secondary-bg-hover;
      border-color: $btn-secondary-border-hover;  
    }
    background-color: $btn-secondary-bg-hover;
    border-color: $btn-secondary-border-hover;
  }
  
  &:focus {
    background-color: $btn-secondary-bg;
    border-color: $btn-secondary-border;
    &:hover {
      background-color: $btn-secondary-bg-hover;
      border-color: $btn-secondary-border-hover;
    }
  }

  &:active, &.active {
    &:hover {
      background-color: $btn-secondary-bg-hover;
      border-color: $btn-secondary-border-hover;
    }
    background-color: $btn-secondary-bg;
    border-color: $btn-secondary-border;
  }

  // &.disabled,
  // &[disabled],
  // fieldset[disabled] & {
  //   color:  $color-q1;
  //   background-color: $color-q3;
  //   border-color: $color-q1;
  //   &:active {
  //     &:hover {
  //       color: $color-q1;
  //       background-color: $color-q3;
  //       border-color: $color-q1;
  //     }
  //   }
  //   &:focus, &:active, &:hover {
  //     color: $color-q1;
  //     background-color: $color-q3;
  //     border-color: $color-q1;
  //   }
  // }
}


.btn-colorless {

  color: $btn-colorless-color;
  &.btn-sm {
    line-height: 16px;  
  }  
  
  &:hover{
    &:focus, &:active {
      background-color: $btn-colorless-bg;
      border-color: $btn-colorless-border;
    }
    &:active {
      background-color: $btn-colorless-bg-hover;
      border-color: $btn-colorless-border-hover;  
    }
    background-color: $btn-colorless-bg-hover;
    border-color: $btn-colorless-border-hover;
  }
  
  &:focus {
    background-color: $btn-colorless-bg;
    border-color: $btn-colorless-border;
    &:hover {
      background-color: $btn-colorless-bg-hover;
      border-color: $btn-colorless-border-hover;
    }
  }

  &:active, &.active {
    &:hover {
      background-color: $btn-colorless-bg-hover;
      border-color: $btn-colorless-border-hover;
    }
    background-color: $btn-colorless-bg;
    border-color: $btn-colorless-border;
  }

}


.btn-link-primary {
  font-size: 14px;
  font-weight: bold;
  color: $btn-link-primary-color;
  
  &:hover{
    color: $btn-link-primary-color;
    text-decoration: underline;
  }
  
  &:focus {
    color: $btn-link-primary-color;
  }

  &:active, &.active {
    color: $btn-link-primary-color;
  }

  // &.disabled,
  // &[disabled],
  // fieldset[disabled] & {
  //   // color: $color-q1;
  //   background-color: $color-q3;
  //   border-color: none;
  //   &:focus,
  //   &:hover {
  //     color: $color-q1;
  //     background-color: $color-q3;
  //     border-color: none;
  //   }
  // }

}

.btn-link-secondary {
  font-size: 12px;
  font-weight: bold;
  color: $btn-link-secondary-color;
  
  &:hover{
    color: $btn-link-secondary-color;
    text-decoration: underline;
  }
  
  &:focus {
    color: $btn-link-secondary-color;
  }

  &:active, &.active {
    color: $btn-link-secondary-color;
  }

  // &.disabled,
  // &[disabled],
  // fieldset[disabled] & {
  //   // color: $color-q1;
  //   background-color: $color-q3;
  //   border-color: none;
  //   &:focus,
  //   &:hover {
  //     color: $color-q1;
  //     background-color: $color-q3;
  //     border-color: none;
  //   }
  // }

}


.btn-default.loading:before {
    border-left-color: #333333;
    border-right-color: #333333;
}

.btn-lg.loading:before {
    margin-top: -16px;
    margin-left: -16px;
    
    width: 32px;
    height: 32px;
}

.btn-sm.loading:before {
    margin-top: -9px;
    margin-left: -9px;
    
    width: 18px;
    height: 18px;
}

.btn-xs.loading:before {
    margin-top: -7px;
    margin-left: -7px;
    
    width: 14px;
    height: 14px;
}



@-webkit-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
