//
// Colors definitions
//
.bg-primary {
  background-color: $color-primary;
}
.bg-primary-hover {
  background-color: $color-primary-hover;
}
.bg-secondary {
  background-color: $color-secondary;
}
.bg-secondary-hover {
  background-color: $color-secondary-hover;
}
.bg-text-primary {
  background-color: $color-text-primary;
}
.bg-text-secondary {
  background-color: $color-text-secondary;
}
.bg-backgorund {
  background-color: $color-backgorund;
}
