@font-face {
	font-family: "icons";
	src: url('../../fonts/icons.eot');
	src: url('../../fonts/icons.eot?#iefix') format('eot'),
		url('../../fonts/icons.woff') format('woff'),
		url('../../fonts/icons.ttf') format('truetype'),
		url('../../fonts/icons.svg#icons') format('svg');
}

@mixin icon-styles {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == acessibilidade {
		$char: "\E001";
	}
	@if $filename == bilheteria {
		$char: "\E002";
	}
	@if $filename == bomboniere {
		$char: "\E003";
	}
	@if $filename == cadeira-roda {
		$char: "\E004";
	}
	@if $filename == conclusion {
		$char: "\E005";
	}
	@if $filename == down {
		$char: "\E006";
	}
	@if $filename == email {
		$char: "\E007";
	}
	@if $filename == especial {
		$char: "\E008";
	}
	@if $filename == face {
		$char: "\E009";
	}
	@if $filename == instagram {
		$char: "\E00A";
	}
	@if $filename == login {
		$char: "\E00B";
	}
	@if $filename == map {
		$char: "\E00C";
	}
	@if $filename == maquina {
		$char: "\E00D";
	}
	@if $filename == mobile {
		$char: "\E00E";
	}
	@if $filename == namoradera {
		$char: "\E00F";
	}
	@if $filename == next {
		$char: "\E010";
	}
	@if $filename == obesidade {
		$char: "\E011";
	}
	@if $filename == payment {
		$char: "\E012";
	}
	@if $filename == play {
		$char: "\E013";
	}
	@if $filename == play2 {
		$char: "\E014";
	}
	@if $filename == prev {
		$char: "\E015";
	}
	@if $filename == print {
		$char: "\E016";
	}
	@if $filename == search {
		$char: "\E017";
	}
	@if $filename == seat {
		$char: "\E018";
	}
	@if $filename == star {
		$char: "\E019";
	}
	@if $filename == tickets {
		$char: "\E01A";
	}
	@if $filename == twitter {
		$char: "\E01B";
	}
	@if $filename == up {
		$char: "\E01C";
	}
	@if $filename == youtube {
		$char: "\E01D";
	}
    @if $filename == bombo {
        $char: "\E01E";
    }
    @if $filename == loyalty {
        $char: "\E01F";
    }
    
	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-acessibilidade {
	@include icon(acessibilidade);
}
.icon-bilheteria {
	@include icon(bilheteria);
}
.icon-bomboniere {
	@include icon(bomboniere);
}
.icon-cadeira-roda {
	@include icon(cadeira-roda);
}
.icon-conclusion {
	@include icon(conclusion);
}
.icon-down {
	@include icon(down);
}
.icon-email {
	@include icon(email);
}
.icon-especial {
	@include icon(especial);
}
.icon-face {
	@include icon(face);
}
.icon-instagram {
	@include icon(instagram);
}
.icon-login {
	@include icon(login);
}
.icon-map {
	@include icon(map);
}
.icon-maquina {
	@include icon(maquina);
}
.icon-mobile {
	@include icon(mobile);
}
.icon-namoradera {
	@include icon(namoradera);
}
.icon-next {
	@include icon(next);
}
.icon-obesidade {
	@include icon(obesidade);
}
.icon-payment {
	@include icon(payment);
}
.icon-play {
	@include icon(play);
}
.icon-play2 {
	@include icon(play2);
}
.icon-prev {
	@include icon(prev);
}
.icon-print {
	@include icon(print);
}
.icon-search {
	@include icon(search);
}
.icon-seat {
	@include icon(seat);
}
.icon-star {
	@include icon(star);
}
.icon-tickets {
	@include icon(tickets);
}
.icon-twitter {
	@include icon(twitter);
}
.icon-up {
	@include icon(up);
}
.icon-youtube {
	@include icon(youtube);
}
.icon-bombo {
    @include icon(bombo);
}
.icon-loyalty {
    @include icon(loyalty);
}
