.modal-dialog {
  &.modal-ticket {
    img {
      height: auto;
    }
    .modal-title {
      p {
        span {
          font-weight: bold;
          color: $color-primary;
        }
      }
    }

    .modal-ticket-price {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        width: 100%;
        display: inline-block;
        .discounts {
          color: red;
          font-weight: bold;
          font-style: italic;
          font-size: 12px;
          margin-left: 10px;
        }
      }
    }
  }

  .modal-content {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid $modal-border;
    border-top: 4px solid $modal-border;
    min-height: 60px;
    color: $color-text-primary;
  }
  .modal-body {
    min-height: 80px;
  }
  .modal-scroll {
    max-height: 400px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 30px;
    p {
      font-size: 12px;
    }
  }
}



.modal-header {
  padding: $modal-title-padding;
  border: none;
  // Close icon
  .close {
    margin-top: -2px;
    font-size: 25px;
    color: $color-primary;
    text-shadow: none !important;
    @include opacity(1);
  }

  // Title text within header
  .modal-title {
    margin: 0;
    border-bottom: 1px solid $modal-border;
    line-height: $modal-title-line-height;
    font-size: 26px;
    margin: 0;
    color: $modal-title-font;
    font-weight: bold;
    h4 {
      margin: 10px 0;
      color: $modal-title-font;
      font-size: 26px;
      font-weight: bold;
    }
  }
}

.modal-body {
  min-height: 80px;
}

// Deixar Modal centralizado
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.splashModal {
}

.splashModal .close {
    margin-top: 0px;
    font-size: 25px;
    color: #747474;
    opacity: 1;
    filter: alpha(opacity=100);
}

.splashModal .modal-dialog .modal-body {
    min-height: auto;
}

.splashModal .modal-body {
    position: relative;
    padding: 0px;
}

.splashModal p {
    margin: 0 0 0px;
}

.splashModal .modal-dialog .modal-content {
    border: 0px;
}

.splashModal button.close {
    position: fixed;
    right: 0px;
    padding: 0px 5px 0px 3px;
    margin: 1px 0px;
    color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
