.styled-select {
  overflow: hidden;
  background-color: #757575;
  border-radius: 5px;
  float: left;
  position: relative;
  height: 30px;
  z-index: 1;
  cursor: pointer;
   &:before {
     height: 30px;
     border-right: 1px solid #fff;
     content: ' ';
     position: absolute;
     right: 25px;
   }
   &:after {
    font-family: 'icons';
    content: '\E006';
    position: absolute;
    right: 8px;
    top: 5px;
    color: #fff;
    font-size: 10px;
   }
  select {
    z-index: 2;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 5px 30px 5px 5px; /* If you add too much padding here, the options won't show in IE */
    float: left;
    color: #fff;
    outline: none;
    option {
      background: #757575;
    }
    &:active, &:focus {
      outline: none;
    }
  }
}

