//
// Tooltips
// --------------------------------------------------


// Base class
.tooltip {
  &:before {
    content: ' ';
    content: ' ';
    width: 97%;
    height: 2px;
    background: $color-primary;
    position: absolute;
    border-radius: 10px 10px 0 0;
    top: 11px;
    right: 2px;
  }
  position: absolute;
  z-index: $zindex-tooltip;
  display: block;
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text;
  font-size: $font-size-small;

  @include opacity(0);

  &.in     { @include opacity($tooltip-opacity); }
  &.top    { margin-top:  -3px; padding: $tooltip-arrow-width 0; }
  &.right  { margin-left:  3px; padding: 0 $tooltip-arrow-width; }
  &.bottom { margin-top:   3px; padding: $tooltip-arrow-width 0; }
  &.left   { margin-left: -3px; padding: 0 $tooltip-arrow-width; }
}

// Wrapper for the tooltip content
.tooltip-inner {
  max-width: $tooltip-max-width;
  padding: 10px;
  color: $tooltip-color;
  text-align: center;
  // background-color: $tooltip-bg;
  // border-color: $tooltip-border-color;
  border:1px solid $tooltip-border-color;
  border-radius: $tooltip-border-rarius;
}

// Arrows
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;

  &:before {
    content: ' ';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-width: $tooltip-arrow-width-inner $tooltip-arrow-width-inner 0;
    border-top-color: #fff;
    top: -12px;
    left: -11px;
  }
}
// Note: Deprecated .top-left, .top-right, .bottom-left, and .bottom-right as of v3.3.1
.tooltip {
  &.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: #dedede;
  }
  &.top-left .tooltip-arrow {
    bottom: 0;
    right: $tooltip-arrow-width;
    margin-bottom: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: $tooltip-arrow-color;
  }
  &.top-right .tooltip-arrow {
    bottom: 0;
    left: $tooltip-arrow-width;
    margin-bottom: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: $tooltip-arrow-color;
  }
  &.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
    border-right-color: $tooltip-arrow-color;
  }
  &.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-left-color: $tooltip-arrow-color;
  }
  &.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: $tooltip-arrow-color;
  }
  &.bottom-left .tooltip-arrow {
    top: 0;
    right: $tooltip-arrow-width;
    margin-top: -$tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: $tooltip-arrow-color;
  }
  &.bottom-right .tooltip-arrow {
    top: 0;
    left: $tooltip-arrow-width;
    margin-top: -$tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: $tooltip-arrow-color;
  }
}

.popover {
  .popover-content {
    padding: 10px;
  }
  &:before {
    content: ' ';
    content: ' ';
    width: 98%;
    height: 2px;
    background: $color-primary;
    position: absolute;
    border-radius: 10px 10px 0 0;
    top: 0px;
    right: 2px;
  }
  .arrow {
    display: none;
  }
  &.bottom {
    margin-top: 2px;
  }
}

a.tooltip-help, .tooltip-help {
  &:hover {
    text-decoration: none;
  }
  text-decoration: none;
  border: 1px solid #b1b1b1;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: block;
  text-align: center;
  background: #efeded;
  font-weight: bold;
  font-size: 12px;
  vertical-align: middle;
  padding: 2px;
  cursor: pointer;
  color: #6d6d6d;
}