//  typography styles
//

::selection {
  color: $color-text-primary;
  background: $brand-primary;
}

::-moz-selection {
  color: $color-text-primary;
  background: $brand-primary;
}



p {
  font-size: $font-size-base;
  @media (min-width: $screen-sm-min) {
    font-size: $font-size-base;
  }
  @media (min-width: $screen-md-min) {
    font-size: $font-size-base;
  }
}


.text-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-wrap {
  word-wrap: break-word;
}

.text-nowrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase !important;

  &:first-letter {
    @extend .text-uppercase;
  }
}

.text-lowercase {
  text-transform: lowercase !important;

  &:first-letter {
    @extend .text-lowercase;
  }
}

.text-capitalize {
  text-transform: capitalize !important;

  &:first-letter {
    @extend .text-capitalize;
  }
}

//  ============================================================
//  headings
//  ============================================================


h1 {
  font-weight: bold;  
}

h2 {

}
h3 {
  font-weight: bold !important;
}
h4 {

}

h5 {
  font-weight: bold;
}

// Page header
// -------------------------

.page-header {
  text-transform: uppercase;
  color: $color-text-primary;
  padding-bottom: (($line-height-computed / 2) - 1);
  margin: $line-height-computed 0 $line-height-computed !important;
}

h2 {
  color: $color-text-primary;
}

//  ============================================================
//  links
//  ============================================================
a,
.link {

  // disable
  &.disabled,
  &[disabled] {
    // @include opacity(.5);
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
      color: $text-color;
    }
  }

  //
  .text-primary & {
    color: $brand-primary;

    &:hover {
      color: $link-hover-color;
    }
  }
  .text-success & {
    color: $state-success-text;

    &:hover {
      color: $link-hover-color;
    }
  }

  .text-info & {
    color: $state-info-text;

    &:hover {
      color: $link-hover-color;
    }
  }

  .text-warning & {
    color: $state-warning-text;

    &:hover {
      color: $link-hover-color;
    }
  }

  .text-danger & {
    color: $state-danger-text;

    &:hover {
      color: $link-hover-color;
    }
  }

  .text-error & {
    // color: $state-error-text;

    &:hover {
      color: $link-hover-color;
    }
  }

  .link-default {
    color: $text-color;
  }

  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 &,
  nav & {
    text-decoration: none;
  }
}

.link-static {
  text-decoration: underline;
}

.help-block {
  font-size: 12px;
}
