@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "include-media/dist/_include-media.scss";
@import "awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";

// Import cdnjs
@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf";
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css";


// Global
@import "theme/mixins/helpers";
@import "theme/typography";
@import "theme/colors";
@import "theme/button";
@import "theme/button";
@import "theme/icons";
@import "theme/icons_fonts";
@import "theme/select";
@import "theme/tooltip";
@import "theme/modals";

// Components
@import "theme/components/steps";
@import "theme/components/nav_tabs";
@import "theme/components/nav_links";
@import "theme/components/header";
@import "theme/components/footer";
@import "theme/components/movie_theaters";
@import "theme/components/movie";
@import "theme/components/store";
@import "theme/components/movie_date";
@import "theme/components/ticket";
@import "theme/components/menu_hamburgue";
@import "theme/components/slick-theme";
@import "theme/components/banners";
@import "theme/components/loader";
@import "theme/components/alerts";
@import "theme/components/paymentIcons";
@import "theme/components/legend_chair";
@import "theme/components/first_access";
@import "theme/components/icon-addon";
@import "theme/components/fonts";
