$icon-font-path: 'fonts/';

@import "override-variables";
@import "theme";

// Colors
.colors { 
  span {
    border-radius: 100%;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 0 5px;
    &:before {
      content: attr(data-color);
      display: block;
      width: 100%;
      color: black;
      text-align: center;
      margin-top: 30px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}
