$color-primary: [PRIMARY_COLOR] !default;
$color-primary-hover:       [PRIMARY_COLOR_HOVER] !default;
$color-secondary:           [SECONDARY_COLOR] !default;
$color-secondary-hover:     [SECONDARY_COLOR_HOVER] !default;
$color-text-primary:        [PRIMARY_COLOR_TEXT] !default;
$color-text-secondary:      [SECONDARY_COLOR_TEXT] !default;
$color-backgorund:          [BACKGROUND_COLOR] !default;
$color-primary-bar:         [PRIMARY_BAR_COLOR] !default;

$color-score-circle: #ccc !default;

// Cores dos leveis do historico
$color-level-1: #a8a8a8;
$color-level-2: #dba00a;
$color-level-3: #db0a0a;
$color-level-4: #0a59db;
$color-level-5: #5abc09;
$color-level-6: #5abc09;
$color-leveis: $color-level-1, $color-level-2, $color-level-3, $color-level-4, $color-level-5, $color-level-6;

@import "../../base";
[ADDITIONAL_THEME]
