$color-text-primary:          #fff !default;
$color-text-secondary:        #aaa !default;
$color-text-secondary-hover:  #2f2f2f !default;
$color-backgorund:            #fff !default;
$color-bg-body:               #2f2f2f !default;

$color-primary:               #ff531E !default;
$color-primary-hover:         #ff891f !default;
$color-secondary:             #212121 !default;
$color-secondary-hover:       #2f2f2f !default;
$color-primary-bar:           #222!default;

// BTNS
$btn-primary-color:              #fff !default;
$color-btn-secondary-bg:         #c6c2c2 !default;
$color-btn-secondary-bg-hover:   #bcb9b9 !default;
$color-btn-secondary-color:      #454545 !default;
$color-link:                     #00ffa3 !default;

// MOVIE CALENDAR
$movie-date-bg-disabled:        #ebebeb !default;
$movie-date-bg-disabled-font:   #666 !default;
$movie-date-bg:                 #fff !default;
$movie-date-bg-hover:           #ebebeb !default;
$movie-date-border:             #2f2f2f !default;
$movie-date-color:              #757575 !default;
$movie-date-color-active:       #fff !default;
$movie-date-color-week:         #2f2f2f !default;

// CARD
$color-card-bg:                 #4b4b4b !default;
$color-card-border:             #ff531e !default;
$color-card-font:               #ddd !default;
$color-card-fontDateRoom:       #333333 !default;
$color-card-icons:              #333333 !default;
$color-card-color-lines:        #B5B5B5 !default;
$color-card-label:              #fff !default;
$color-card-accessibility-bg:   #EBEBEB !default;
$color-card-accessibility-font: #333 !default;
$color-card-disabled-bg:        #f9f9f9 !default;
$color-card-disabled-font:      #ccc !default;

// CARD TICKET
$color-card-ticket-title:        #212121 !default;
$color-card-ticket-discont:      #ff0000 !default;
$color-card-ticket-lines:        #ccc !default;
$color-card-ticket-legend:       #666 !default;
$color-card-ticket-term-bg:      #f6f6f6 !default;
$color-card-ticket-term-border:  #ccc !default;
$color-card-ticket-term-font:    #333 !default;
$color-card-ticket-seat-font:  #fff !default;

// CARD BOX
$color-card-box-bg:              #EBEBEB !default;
$color-card-box-text:            #2f2f2f !default;
$color-card-box-details:         #666 !default;
$color-card-box-discount:        #FF0000 !default;

// SETPS - PAYMENT
$color-purchase-setp-bg:         #fff !default;
$color-purchase-setp-border:     #2f2f2f !default;
$color-purchase-setp-color:      #333 !default;
$color-purchase-setp-line:       #757575 !default;

// CONFIG PORTAL
$color-bg-header:               #2F2F2F !default;
$color-header-color:            #747474 !default;
$color-header-login-color:      #F2F2F2 !default;
$color-bg-menu:                 #212121 !default;
$color-bg-menu-open:            #757575 !default;
$color-menu-link:               #fff !default;
$color-menu-link-login:         #F2F2F2 !default;
$color-menu-link-about:         #F30101 !default;

$color-bg-footer:               #2f2f2f !default;
$color-footer-font:             #fff !default;
$color-bg-footer-copy:          #ededed !default;
$color-footer-copy-font:        #ededed !default;
$color-lines-footer:            #F1F1F1 !default;

$color-legend-available: #46b946 !default;
$color-legend-select: #932d17 !default;
$color-legend-unavailable: #EBEBEB !default;
$color-legend-other-sector: #757575 !default;

// MODAL
$modal-mask                   :#000 !default;
$modal-bg                     :#fff !default;
$modal-border                 :#ff531e !default;
$modal-title-color            :#fff !default;

// INTERNAL
$menu-bg                      :#f1f1f1 !default;
$menu-border                  :#ddd !default;
$menu-active                  :#fff !default;
$menu-hover                   :#e2e2e2 !default;

// ACCORDION
$panel-bg                     :#fff !default;
$panel-header-bg              :#fff !default;
$panel-header-bg-hover        :#f7f7f7 !default;
$panel-header-color           :#fff !default;
$panel-border-color           :#ddd !default;
$panel-color                  :#ddd !default;

// MY TICKETS
$my-ticket-bg                 :#fff !default;
$my-ticket-border             :#ccc !default;
$my-ticket-header             :#f3f3f3 !default;
$my-ticket-header-color       :#333 !default;
$my-ticket-color              :#fff !default;

// GAME
$color-score-circle: #ccc !default;

// GAME COLOR HISTORY
$color-level-1: #a8a8a8 !default;
$color-level-2: #dba00a !default;
$color-level-3: #db0a0a !default;
$color-level-4: #0a59db !default;
$color-level-5: #5abc09 !default;
$color-level-6: #5abc09 !default;

@import "./base";


