@import "velox_theme";

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;

}
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 1rem;
}

#header {
  background: #2F2F2F;
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
  .logo {
    img {
      width: 110px;
    }
  }
}

.panel-heading {
  &:hover {
    cursor: pointer;
    background: #d1d1d1;
  }
 
}

.card {
  &.theme {

    p {
      //font-size: 16px;
      //margin-bottom: 30px;
    }
    form {
      .lbl {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 14px;
      }
      .btn {
        //margin-top: 30px;
      }
    }
  
      textarea {
        padding: 15px;
        font-size: 12px;
        color: #555;
        margin-bottom: 20px;
      }
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}



// NOVO

.config {
  .wrapper {
    padding: 25px;
    border: 1px solid #ccc;
    min-height: 250px;
    &.align {
      display: flex;
      justify-content: center;
      align-items: center;

    }    
  }

  .wrapper-modal {
    position: relative;
    height: 400px;
    .modal, .modal-backdrop {
      position: absolute;
    }
  }
}


@media (min-width: 1200px) {
  .wrapper {
    #footer {
      position: initial !important;
      text-align: initial !important ;
      padding-top: 0 !important;
    }
    .container {
        width: 1020px !important;

        .button-menu {
          float: left;
        }
    }

  }

}