.cine {
  &.disabled {
    .alert {
      z-index: 22;
      position: relative;
      margin-bottom: 15px;
    }

    .card-movie-theater:not(.header) {
      position: relative;
      color: #ccc;
      border-color: #e0e0e0;

      &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f9f9f9;
        @include opacity(0.7);
        display: block;
        z-index: 99;
      }
    }

  }

  .title-cine {
    h2 {
      font-size: 25px;
      text-transform: uppercase;
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;
      margin: 0;
    }
  }
  .movie-category {
    margin-bottom: 20px;
  }
  .card-movie-theater {
    &.header {
      .address {
        font-weight: normal;
        span {
          display: block;
        }
      }
      .info {
        font-weight: normal;
      }
      .take {
        text-align: left;
      }

      .accessibility {
        margin-top: 15px;
        padding-top: 10px;
        border: 1px solid #ccc;
        border-width: 1px 0 0;
        li {
          font-size: 12px;
        }
      }
    }
    margin-top: 0;
    h5 {
      font-size: 20px;
      margin: 0 0 10px 0;
    }

    .movie-detail {
      @include media(">=tablet", "<=990px") {
        .tooltip-help {
        }
      }
    }
  }

  .movie-detail {
    @include media(">=phone", "<=1200px") {
      .actions {
          a {
            display: block;
            margin-bottom: 10px;
          }
        }
    }
  }

  .message {
    margin-top: 30px;
  }
}

#detailMovie {
  min-width: 210px;
  min-height: 80px;
}

.bombo-alert-icon {
    color: $color-primary !important;
}