#detailMovie {
  p {
    strong {
      display: block;
    }
    span {
      font-style: italic;
      display: block;
    }
    a {
      padding: 0;
      font-size: 12px;
    }
  }
  .popOverPromotion {
    background-color: #000;
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: -40px;
    float: right;
    padding: 10px;
   }
}
.page-title {
  h2, h1 {
    font-size: 23px;
    display: inline-block;
    font-weight: normal;
    color: $color-text-primary;
  }
  border-bottom: 1px solid $color-text-secondary;
  margin-bottom: 20px;
  position: relative;
}
.card {
  background: $color-card-bg;
  border: 1px solid $color-card-border;
  color: $color-card-font;
  padding: 15px 15px;
}

.alert {
  padding: 10px;
  .close {
    right: 0;
  }
}

a[class^="icon"] {
  &:hover {
    text-decoration: none;
  }
}

a, button {
  &:focus, &:active {
    outline: none;
  }
}

.primary-inner-text {
    color: $color-text-primary;
}