
#game_fidelity {
  @import 'game_fidelity/header';
  @import 'game_fidelity/score';


  .text-primary {
    color: $color-primary;
  }


  .partners {
    li img:hover {
      border: 2px solid $color-primary;
    }
  }

  .history-list {
    ul li {
      @for $i from 1 through length($color-leveis) {
        &.level-#{$i} {
          border-color: nth($color-leveis, $i);
          &:before {
            content: ' ';
            background: nth($color-leveis, $i);
            color: darken(nth($color-leveis, $i), 25%);
          }
        }
      }

      p span strong {
        color: $color-primary;
      }
    }
  }

  .list-game {
    li {
      .count {
        strong, .done {
          color: $color-primary;
        }
      }
      .tip {
        background: $color-primary;
      }
    }
  }

  .badges-icons {
    svg {
      fill: $color-primary;
    }
  }

  .nav-links .active {
    color: $color-primary;
  }

}
