.eventComingSoonContainer {
  display: none;
}
.home {

    .home-filters {
        float: right;

        .form-group {
            margin: 0;

            input, #filterSelect, #ChangeFilterSelect {
                background: none;
                border: none;
                text-align: right;
                box-shadow: none;
                font-weight: bold !important;
            }

            .glyphicon {
                color: #484848;
                font-size: 16px;
            }

            .custom-select {
                position: relative;
                cursor: pointer;
                //margin-bottom: 10px;
                //background: #ddd;
                display: inline-block;
                // position: absolute;
                // right: 10px;
                // top: 5px;
                // color: $color-primary;
                // font-size: 15px;
                // height: 10px;
                //
                // @include icon(down);
                &.arrow {
                    @include icon(down);

                    &:before {
                        position: absolute;
                        right: 10px;
                        top: 5px;
                        color: $color-primary;
                        font-size: 15px;
                        height: 10px;
                    }
                }

                select {
                    &:active {
                        background: rgba(255, 255, 255, 0.5);
                    }

                    &::-ms-expand {
                        display: none;
                    }

                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: transparent;
                    position: relative;
                    cursor: pointer;
                    border: none;
                    font-size: 14px;
                    font-weight: bold;
                    //color: #212121;
                    outline: none;
                    //height: 40px;
                    width: 100%;
                    padding: 0 8px;
                    padding-right: 30px;
                }
            }
        }
    }


    .filter-mobile {
        margin-bottom: 20px;

        .form-group {
            input {
                text-align: left !important;
            }
        }

        display: block;
        @include clearfix;
        float: none !important;

        @include media(">767px") {
            display: none;
        }
    }

    .eventsContainer {
        @include clearfix;

        .fitered {
            @include clearfix;
            position: initial !important;
        }
    }
}