.internal {
  .sub-title {
    margin-bottom: 20px;
    font-size: 20px;
    display: inline-block;
    color: $color-text-primary;
  }
  .box {
    background: #fff;
    border-right: 2px solid #ebebeb;
    @include clearfix;
    padding: 15px;
     h1 {
       margin-top: 0;
     }
  }
  .card {
    padding: 0;
    margin-bottom: 20px;
    padding-right: 20px;
    overflow: hidden;
    min-height: 250px;
    @include media(">=phone", "<=desktop") {
      padding: 0 15px 15px;
    }

    label {
      color: $color-card-label;
    }
  }
  .side-bar {
    @include media(">=phone", "<=desktop") {
      display: none;
    }
  }

  .menu-side {
    background: $menu-bg;
    padding-left: 15px;
    padding-top: 15px;
    border-right: 1px solid $menu-border;
    float: left;
    width: 100%;
    margin-bottom: -50000px;
    padding-bottom: 50000px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        &.active, &.active:hover {
          border: 1px solid $menu-active;
          border-right: 0;
          background: $menu-active;
          border-radius: 5px 0 0 5px;
          margin-right: -1px;
        }
        &:hover {
          border-right: 0;
          background: $menu-hover;
          border-radius: 5px 0 0 5px;
          margin-right: -1px;
        }
        line-height: 40px;
        padding-left: 10px;
        margin: 5px 0;
        a {
          text-decoration: none;
          display: block;
        }

      }
    }
  }

  .content {
    h3 {
      font-size: 19px;
      margin-bottom: 20px;
      font-weight: normal !important;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }
    padding: 15px;
  }

  .ticket-item {
    border: 1px dotted $my-ticket-border;
    background: $my-ticket-bg;
    color: $my-ticket-color;
    padding: 10px;

    .header {
      background: $my-ticket-header;
      color: $my-ticket-header-color;
    }

    .movie {
      .info-theater {
        dl {
          margin-bottom: 0;
        }
      }
    }

    .tickt-date {
      color: $my-ticket-color;
      p {
        color: $my-ticket-color;
      }
    }

    .tickt-resume {
      border: none;
    }

    .prices {
      ul {
        li {
           &:hover {
             background: darken($my-ticket-bg, 5%);
           }
        }
      }
    }
  }

  .faq {
    .questions {
      h3 {
        border: 0;
        margin-bottom: 10px;
      }
    }

  }

  .panel-group {
    margin: 10px 10px 30px 10px;
    .panel-default {
      border-color: $panel-border-color;
    }
    .panel {
      background: $panel-bg;
      border-radius: 0;
      border-width: 1px 0;
      margin: 0;
      border-color: $panel-border-color;

      &:first-child {
        border-bottom: 0;
      }
      .panel-heading {
        background: $panel-header-bg;
        padding: 10px 5px;
        border-radius: 0;

        &:hover {
          cursor: pointer;
        }
        span {
          float: right;
          color: $color-primary;
        }
        a {
          &:active {
            text-decoration: none;
          }
          text-decoration: none;
          &.collapsed {
            span {
              @include icon(down);
            }
          }
        }

        .panel-title {
          display: block;
          font-size: 15px;
          text-decoration: none;
          color: $panel-header-color;
          &:hover {
            text-decoration: none;
          }
          span {
            float: right;
            color: $color-primary;
          }
        }
        h4 {
          font-size: 15px;
          color: $panel-header-color;
        }
        &:hover {
          background: $panel-header-bg-hover;
        }
      }

      .panel-body {
        color: $panel-color;
      }
    }
  }

  .error {
    text-align: center;
    min-height: 260px;
    padding-top: 50px;
    margin-bottom: 50px;
    .box {
      border: 1px solid #cacaca;
      width: 100px;
      height: 130px;
      background: rgba(255, 255, 255, 0.8);
      display: inline-block;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      box-shadow: 1px 1px 1px #fff, inset 0 2px 5px rgba(158, 146, 146, 0.41);
      margin-right: 20px;

      p {
        font-size: 28px;
        font-weight: bold;
        color: #d0d0d0;
        line-height: 135px;
      }
    }

    > p {
      text-align: center;
      font-size: 16px;
      color: #757575;
      display: inline-block;
      i {
        display: block;
        font-size: 46px;
        font-style: normal;
        font-weight: bold;
        margin-bottom: 0px;
        color: #676767;
        text-shadow: 1px 1px 2px #fff;
        span {
          font-size: 30px;
          padding-left: 10px;
          color: #757575;
          text-shadow: none;
        }
      }
    }

    @include media(">=320px", "<=tablet") {
      .box {
        width: 70px;
        height: 110px;
        p {
          font-size: 20px;
          transform: translateY(-10%) translateX(0%) rotate(-360deg);
        }
      }
      > p {
        i {
          font-size: 30px;
        }
        font-size: 14px;
        max-width: 160px;
      }
    }
  }
  .myTickets{
	.nav-tabs {
	   margin-bottom: 10px;
	}

	.nav > li > a {
	  padding: 10px 12px;
	}

	.nav-tabs > li.active > a, .myTickets .nav-tabs > li.active > a:hover, .myTickets .nav-tabs > li.active > a:focus {
	  color: $btn-primary-bg;
	  background-color: #fff;
	  border: none;
	  border-bottom: 4px solid;
	}
	.nav-tabs li a {
	  color: #757575;
	  background-color: #fff;
	  border: none;
	}
  }
}
