.page-login {
  background: $color-card-bg;
  border: 1px solid $color-card-border;
  color: $color-card-font;

  margin-bottom: 20px;
  .box {
    padding: 0px 20px;
    min-height: 490px;
    border-right: 2px solid $color-card-border;
    &:last-child {
      border: 0;
    }
  }
  @media (max-width: $screen-sm-max) {
    .box {
      border: 0;
      border-bottom: 2px solid $color-card-border;
      min-height: auto;
    }
  }

  label {
    color: $color-card-label;
  }
}

.modal {
  .divider {
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    span {
      background: $modal-bg;
      position: relative;
      z-index: 2;
      padding: 15px;
      color: $color-text-primary;
    }
    &:before {
      content: ' ';
      width: 100%;
      border-top: 1px solid $modal-border;
      position: absolute;
      left: 0;
      top: 10px;
    }
  }
}
