.page-error {
  background-image: url(../../images/bgs/bg-desk.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 0px;
  .container {
    width: 100%;
  }
  .logo {
    margin-top: 30px;
    display: block;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 39px;
    color: #2f2f2f;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 50px;
    .code {
      color: #bbb8b8;
      display: block;
      font-weight: 400;
      margin-top: 50px;
      margin-bottom: 10px;
    }
  }
}
@include media(">=320px", "<tablet") {
  .page-error {
    background-image: url(../../images/bgs/bg-mb.png);

    p {
      font-size: 18px;
      line-height: 18px;
    }

    .btn {
      font-size: 13px;
      padding: 8px 2px;
    }
  }
}

@include media("<=tablet") {
  .page-error {
    background-image: url(../../images/bgs/bg-mb.png);
  }
}

