.print {
  background: #fff;

  .container {
    max-width: 900px;
  }

  .cod-barra {
    @include clearfix;
    text-align: center;
    img {
      transform: translateY(67%) translateX(-10%) rotate(-90deg);
      transform-origin: center bottom;
    }
    @include media(">=320px", "<tablet") {
      border-top: 1px solid #999;
      padding-top: 10px;
      float: left;
      width: 100%;
      margin-top: 10px;
      img {
        transform: rotate(0deg);
      }
    }


    @include media(">=tablet") {
      text-align: center;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      border-left: 1px solid #999;
      padding: 0;
      width: 105px;
    }

  }

  .tickets-all {
    .ticket {
      position: relative;
      border: 1px solid #999;
      @include clearfix;
      margin-bottom: 50px;
      .info {
        padding: 10px 0 10px 10px;
        margin-bottom: 0;
        .img-responsive {
          min-height: 180px;
        }
        .movie {
          margin-bottom: 0;
          p {
            margin-bottom: 0;
            &.name {
              font-weight: bold;
              font-size: 18px;
              height: 55px;
            }
            &.types {
              font-size: 16px;
              height: 25px;
              margin-bottom: 5px;
            }
            &.date {
              font-weight: bold;
              font-size: 17px;
              height: 65px;
            }
            &.value {
              font-size: 16px;
              /*height: 40px;*/
            }
            &.discounts {
	            color: red;
            }
            &.chair {
              height: 25px;
              margin-top: 10px;
              span {
                border: 2px solid #ccc;
                padding: 5px;
                margin-left: 10px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      .place-info {
            border-left: 1px solid #999;
        padding: 15px 0;
        .place {
          line-height: 16px;
        }
        .message {
          margin-bottom: 0;
          text-align: center;
        }
      }

      @include media("<desktop", ">=tablet") {
        .info {
          .movie {
            p {
              &.name {
                font-size: 17px;
                height: 45px;
                line-height: 18px;
              }
              &.types {
                font-size: 14px;
                margin-bottom: 0px;
              }
              &.date {
                font-size: 15px;
                line-height: 21px;
                height: 45px;
              }
              &.value {
                font-size: 15px;
                /*height: 40px;*/
              }
              &.chair{
                  margin-top: 10px;
              }
            }
          }
        }
          .place-info {
            p {
              font-size: 12px;
            }
            .message {
              font-size: 13px;
            }
          }
        }
         @include media(">=tablet") {
           .place-info {
              min-height: 236px;
           }
         }
        @include media(">=320px", "<tablet") {
          border-bottom: 1px solid #999;
          padding-bottom: 10px;
          .movie {
            p {
              line-height: initial;
              &.name {
                font-size: 18px;
                line-height: 19px;
                height: auto !important;
                margin-bottom: 5px;
              }
              &.types {
                font-size: 14px;
                margin-bottom: 0px;
                height: auto !important;
              }
              &.date {
                font-size: 13px !important;
                line-height: 21px;
                height: 45px !important;
              }
              &.value {
                font-size: 15px;
                /*height: 40px;*/
              }
              &.chair{
                  margin-top: 10px;
              }
            }
          }
          .place-info {
            border: 0;          
            border-top: 1px solid #999;
            padding-bottom: 0;
          }
        }
        @include media(">400px") {
          .movie {
            p {
              &.date {
                  font-size: 15px !important;
                  line-height: 21px;
                  height: 45px !important;
                }
            }
          }
        }

        @include media(">=desktop") {
           background-image: linear-gradient(#999, #999);
           background-size: 1px 100%;
           background-repeat: no-repeat;
           background-position: center center;
        }
    }
  }

  .ticket-impression {
    display: none;
  }

  .tickets {
    color: #484848;
    .header {
        text-align: center;
      h3 {
        font-size: 20px;
        font-weight: normal !important;
        margin-bottom: 20px;
      }
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #ccc;
    }

    > .ticket-impression {
      border: 1px solid #999;
      margin-bottom: 30px;
      .wrapper {
        padding: 10px;
        padding-right: 0;
        border-right: 1px solid #999;
        &:last-child {
          border: 0;
        }
        &.code {
          padding: 10px 0;
        }
      }
    }
    table {
      td {
        vertical-align: top;
      }
      .info {
        padding-left: 15px;
      }
      &.info-movie {
          vertical-align: top;
          padding-left: 15px;
          td {
            display: block;
            vertical-align: top;
            &.name {
              font-weight: bold;
              font-size: 18px;
              height: 55px;
            }
            &.types {
              font-size: 16px;
              height: 25px;
              margin-bottom: 15px;
            }
            &.date {
              font-weight: bold;
              font-size: 20px;
              height: 65px;
            }
            &.value {
              font-size: 16px;
              /*height: 40px;*/
            }
            &.discounts {
              margin-bottom: 10px;
            }
            &.chair {
              height: 25px;

              &.auto-height {
                  height:auto;
              }
              span {
                border: 2px solid #ccc;
                padding: 5px;
                margin-left: 10px;
                text-transform: uppercase;
              }
            }
          }

      }
      &.info-place {
        text-align: center;
        td {
          .logo {
            text-align: center;
          }
          &.space {
            height: 30px;
            display: block;
          }
          .place {
            line-height: 16px;
          }
          &.message {
            line-height: 17px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}


@media print {
  * {
    background:transparent !important;
    color:#000 !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
  }
  header nav, footer {
    display: none;
  }
  
  .ticket-impression {
    display: block !important;
  }

  .tickets-all {
    display: none;
  }
 
  body {
    margin:0;
    padding:0;
  }
  @page {
    margin: 0.5cm;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a:link:after, a:visited:after {
    content: " (" attr(href) ") ";
  }
  .no-print {
    display: none !important;
  }
  p { 
    widows: 3;
    orphans: 3;
    a {
      word-wrap: break-word;
    }
  }
  .container {
    width: 900px;
  }
  table {
    margin: 0;
    padding: 0;
    &.info-movie {
      td {
        display: inherit !important;
      }
    }
    &.info-place {
      .space {
        display: inherit !important;
      }
    }
  }


}