.tickets {

  .total-discounts{
    font-size: 12px;
    font-weight: bold;
    color: $color-card-ticket-discont;
    text-transform: uppercase;
    text-align: right;
  }
  .column-ticket {
    @include media("<=992px") {
    display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-flow: column-reverse;
      flex-flow: column-reverse;
    }
  }
  .card {
    margin-bottom: 30px;
    &.ticket-item {
      margin-bottom: 5px;
    }
    h2 {
      margin-top: 0;
      color: $color-card-ticket-title;
    }

    &.info-ticket {
      min-height: 534px;
      .nav-links {
        margin-bottom: 30px !important;
      }
      @media (max-width: 990px) {
        min-height: 100px;
      }
    }

  }
  .type-tickets {
    li {
      float: left;
    }
  }
  &.finish {
    .conclusion {
      float: right;
      margin-bottom: 15px;
      @include media("<=991px") {
        float: none;
        .actions {
          display: none;
        }
      }

    }
    .finish {
      .ticket-item {
        @include media("<=991px") {
          &.finish {
            float: none;
            clear: both;
          }
        }
        float: left;
      }
    }
  }


  .type-tickets, .tickets-header {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $color-card-ticket-lines;
    padding-bottom: 15px;
    margin-bottom: 15px;
    @include clearfix;
    li {
      @include clearfix;
      &.header {
        display: block;
        border-bottom: 1px solid $color-card-ticket-lines;
        padding-bottom: 5px;
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 13px;
        span {
          display: inline-block;
          &:last-child {
            float: right;
          }
        }
      }
      font-size: 14px;
      text-align: left;
      display: inline-block;
      .form-group {
        margin-bottom: 0;
      }
      &.type {
        width: 15%;
        margin-top: 8px;
        span {
          float: left;
        }
        .hint {
          float: left;
          margin-left: 5px;
          margin-bottom: 0;
          margin-top: 2px;
          .tooltip-help {
            width: 17px;
            height: 17px;
            font-size: 9px;
          }
        }
      }
      &.line {
        width: 100%;
        margin-top: 5px;
        .detail_price {
          float: left;
          p {
            font-size: 11px;
            font-style: italic;
            margin-bottom: 0;
            color: $color-card-ticket-legend;
          }
	   .discounts {
	      color: $color-card-ticket-discont;
	      font-weight: bold;
	    }
        }
        .total {
          float: right;
          font-weight: bold;
          margin-top: 10px;
        }
      }
      &.price {
        float: right;
        margin-top: 8px;
      }

      @include media(">=tablet") {
        &.line {
          .detail_price {
            p {
              display: inline;
              font-size: 12px;
            }
          }
        }
      }

      @include media(">=phone", "<=tablet") {
        &.header {
          span {
            &:first-child {
              width: 40%;
            }
          }
        }
        &.type {
          width: 40%;
        }
        &.amount {
          width: 25%;
        }
      }

      @include media(">=375px") {
        &.line {
          .detail_price {
            p {display: inline-block;}
          }
        }
      }

      @include media(">=tablet", "<desktop") {
        &.header {
          span {
            &:first-child {
              width: 20%;
            }
          }
        }
        &.type {
          width: 20%;
        }
        &.amount {
          width: 15%;
        }
      }

      @include media(">=desktop") {
        &.header {
          span {
            &:first-child {
              width: 25%;
            }
          }
        }
        &.type {
          width: 25%;
        }
        &.amount {
          width: 15%;
        }
      }
    }
  }

  .tickets-header {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .total-tickets {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
  }

  .total-discounts {
    font-size: 12px;
    font-weight: bold;
    color: $color-card-ticket-discont;
    text-transform: uppercase;
    text-align: right;
}

  .cupom {
    margin-bottom: 20px;
    @include clearfix;
    label {
      display: block;
    }
    input {
      width: 200px;
      float: left;
      margin-right: 10px;
      margin-bottom: 5px;
    }
    .btn-primary {
      float: left;
    }

    .help-block {
      clear: both;
    }
    .hint {
      float: left;
      margin: 5px 0 0 5px;
    }

    .programs {
      display: block;
      clear: both;
      p {
        float: left;
        margin-bottom: 0;
        span {
          margin-left: 10px;
        }
      }
      .btn {
        float: right !important;
        margin-left: 5px;
      }
      .legend-cupom {
        display: block;
        clear: both;
      }
    }

    .list-discount {
      @include clearfix;
      margin-top: 5px;
      text-align: right;
      .applied-discount {
        font-style: italic;
        float: right;
        clear: both;
        span {
          font-weight: bold;
        }
        &:last-child {
          margin-bottom: 25px;
        }

        @include clearfix;
        .number {
          font-weight: bold;
          font-style: italic;
          @include text-overflow;
          max-width: 90px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    .programs, .list-discount {
      .btn {
          font-size: 13px;
          padding: 0;
          @include media("<=tablet") {
            margin-bottom: 0 !important;
          }
        }
    }

    .legend-cupom {
      font-size: 11px;
      font-style: italic;
      color: $color-card-ticket-legend;
    }

    @media (max-width: $screen-xs-max) {
      input {
        width: 50%;
      }
      button {
        float: left;
        width: auto;
      }
    }
  }

  .actions-state {
    @include clearfix;
    border-top: 1px solid $color-card-ticket-lines;
    margin-top: 10;
    padding-top: 15px;
    &.no-border {
      border: 0;
    }
    .btn-link {
      padding-left: 0;
    }
    .btn-primary {
      display: inline-block !important;
      float: right;
    }
    p {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .info-ticket {
    transition: all .2s ease-in-out;
  }
  .timeout {
    margin-bottom: 5px;
    .content {
      position: relative;
    }
    .column {
      width: 85%;
      h3 {
        margin: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .control {
      position: absolute;
      right: 0;
      z-index: 1;
      top: 50%;
      margin-top: -20px;
      margin-right: 10px;
      font-size: 24px;
      text-decoration: none;
      color: $color-primary;
      display: block;
    }
  }


  .legend {
    border-top: 1px solid $color-card-ticket-lines;
    padding-top: 15px;
    margin-top: 15px;
  }

  .payment {
    margin-top: 20px;

    .list-payment {
      text-align: center;
      @include clearfix;
      ul {
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          height: 40px;
          .payment-icon {
            // @include opacity(0.5);
            &.active {
              // @include opacity(1);
            }
            display: block;
            width: 48px;
            height: 30px;
            border: none;
            margin-right: 10px;
            @include media("<=phone") {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .cvv {
      label {
        display: block;
      }
      input {
        float: left;
        width: 70%;
      }
      .hint {
        float: left;
        margin: 6px 10px;
      }
    }

    .term {
      padding: 15px;
      margin-top: 10px;
      margin-bottom: 15px;
      border: 1px solid $color-card-ticket-term-border;
      background: $color-card-ticket-term-bg;
      p {
        font-size: 12px;
        margin: 5px 0 0 0;
        color: $color-card-ticket-term-font;
      }
    }

  }

  .detail {
    transition: all .2s ease-in-out;
    &:not(.finish) {
      @include media("<990px") {
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease-in-out;
        height: 0;
        display: none;
      }
    }

    .conclusion {
      border: 1px solid #ccc;
      padding: 15px 15px;
    }


    .card, .conclusion {

      @include media("<=990px") {
        &.timeout {
          display: none;
        }
      }
      &:not(.timeout) {
        min-height: 534px;
      }
      float: right;

      &.timeout {
        margin-bottom: 10px;
        p {
          margin-bottom: 0;
          font-size: 14px;
          span {
            font-weight: bold;
          }
        }
      }

      &.finish {
        @include media(">=phone", ">desktop") {
          .actions {
            display: none;
          }
        }
      }
    }
    @media (max-width: $screen-sm-max) {
      .card {
        float: none;
      }
    }
  }
  .info-ticket-mb {
    .info {
      font-size: 15px;
      padding-top: 7px;
      > span {
        display: block;
      }
    }
    @include media(">990px") {
      opacity: 0;
      visibility: hidden;
      display: none;
      transition: all .2s ease-in-out;
      .card {
        min-height: 0 !important;
        height: 0 !important;
        padding: 0;
        margin: 0;
      }
    }
  }

  .hidden-info-ticket {
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
    height: 0 !important;
    min-height: 0 !important;
    padding: 0;
    margin: 0;
  }

  .detail {
    @include media("<=990px") {
      &.show-mb {
        display: block;
        opacity: 1;
        visibility: visible;
        transition: all .2s ease-in-out;
        height: auto;

        .card {
          min-height: initial !important;
        }
      }
    }
    
  }
  .tickets-cancel {
	.tickets-header {
	   li {
	     &.header {
			 margin-bottom: 5px;
	     }
	   }
	}
	.type-tickets{
		padding-bottom: 5px;
		margin-bottom: 5px;
	}
  }
}

#detailCVV, .infoCVV {
  .cvv {
    float: left;
    width: 64px;
    height: 64px;
  }
  .informartion {
    h3 {
      display: inline-block;
      color: $color-primary;
      margin: 18px 0  20px 15px;
      span {
        display: block;
        font-size: 11px;
        color: $color-card-ticket-legend;
        font-style: italic;
        font-weight: normal;
      }
    }
    p {
      font-size: 12px;
      clear: both;
    }
  }
  &.mobile {
    h3 {
      @include clearfix;
      margin-top: 0;
    }
    .cvv {
      margin: 0;
    }
    span {
      margin-top: 20px;
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.popover {
  width: 270px;
  margin-left: 130px;
  @include media("<=tablet") {
    margin-left: -135px;
    left: 50% !important;
  }
}

