@import 'custom-moviecom-sprites';

$azul-claro: #01a6e3;

#game_fidelity {
  //  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8)) fixed;
  background: #013a53;
  background: -moz-linear-gradient(-45deg, rgba(4,7,8,1) 0%, rgba(1,58,83,1) 60%) fixed;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(4,7,8,1)), color-stop(60%, rgba(1,58,83,1))) fixed;
  background: -webkit-linear-gradient(-45deg, rgba(4,7,8,1) 0%, rgba(1,58,83,1) 60%) fixed;
  background: -o-linear-gradient(-45deg, rgba(4,7,8,1) 0%, rgba(1,58,83,1) 60%) fixed;
  background: -ms-linear-gradient(-45deg, rgba(4,7,8,1) 0%, rgba(1,58,83,1) 60%) fixed;
  background: linear-gradient(135deg, rgba(4,7,8,1) 0%, rgba(1,58,83,1) 60%) fixed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040708', endColorstr='#013a53', GradientType=1 );
  @include media('>=phone', '<=tablet') {
    min-height: 800px;
  }


  #footer {
    display: none;
  }

  .btn-primary {
    background: #117fa6 !important;
    font-weight: normal;
    &:hover, &:active, &:focus {
      background: $azul-claro !important;
    }
  }

  .btn-link, a {
    color: $azul-claro !important;
    font-weight: normal;
    &:hover, &:active, &:focus {
      color: lighten($azul-claro, 20%)  !important;
    }
  }
  h2 {
    color: $azul-claro;
  }

  .breadcrumb {
    .list {
      &:before {
        color: $azul-claro !important;
      }
    }
  }

  .card {
    background: transparent;
    background-image: rgba(4,7,8,1);
    background-image: -moz-linear-gradient(#174064 0%, #024b7c 100%);
    background-image: -webkit-gradient(left top, right bottom, color-stop(0%, #174064), color-stop(100%, #024b7c));
    background-image: -webkit-linear-gradient(#174064 0%, #024b7c 100%);
    background-image: -o-linear-gradient(#174064 0%, #024b7c 100%);
    background-image: -ms-linear-gradient(#174064 0%, #024b7c 100%);
    background-image: linear-gradient(#174064 0%, #024b7c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184063', endColorstr='#024b7c', GradientType=1 );
    border: 0;
    color: #fff;
    padding: 0;
  }

  .modal-backdrop {
    background: #12629f;
  }
  .modal-dialog {
    .modal-content {
      border: 0;
      color: #072b52;

      .close {
        color: #072b52;
        font-size: 62px;
        font-weight: normal;
        position: absolute;
        right: 10px;
        top: 0px;
        z-index: 99;
      }
      .modal-body {
        padding: 20px;
        box-sizing: border-box;
      }

      .badges-modal {
        p, span {
          font-size: 16px;
        }
        .badges-header {
          svg {
            fill: #072b52;
            margin-bottom: 10px;
          }
          p {
            font-size: 16px;
            font-weight: bold;
            span {
              color: #072b52;
              font-weight: normal;
            }
          }
        }
      }
    }
  }

  header {
    background: #045bab;
    .navbar-default {
      background: #045bab !important;
    }
    .list-menu {
      //display: none;
      a {
        color: #fff !important;
      }
    }

    .login {
      i {
        color: $azul-claro !important;
      }
      .info {
        p {
          span {
            color: #a7e7ff !important;
          }
        }
      }
    }
  }

  .breadcrumb {
    border-color: #177ca0 !important;
    li {
      font-size: 16px;
      color: #fff !important;
      &.active {
        color: #fff !important;
      }
    }
  }

  .nav-tabs {
    border: 0;
    margin-bottom: 5px;
    li {
      display: table-cell !important;
      width: 1%;
      float: none !important;
      margin-bottom: 0 !important;
      text-align: center;
      &.active {
        a {
          background: #13446b;
          border: 0;
          &:hover {
            background: #13446b;
            border: 0;
          }
        }
      }
      a {
        background: #177ca0;
        color: #fff !important;
        border: 0;
        border-radius: 0;
        font-weight: normal;
        @include media('>=phone', '<=tablet') {
          padding: 10px;
        }

        @include media('>=320px', '<=374px') {
          padding: 5px;
          font-size: 13px;
        }

        &:hover {
          background: $azul-claro;
          border: 0;
          color: #fff !important;
        }
      }
    }
  }


  .list-commons {
    li {
      background: #117fa6;
      color: #fff;
      margin-bottom: 5px;
      border: 0 !important;
      p {
        font-weight: normal;
        span {
          color: #14365b !important;
        }
      }
      .count  {
        color: #14365b;
        strong {
          color: #14365b;
        }
        .done {
          color: #fff;
        }
      }
      svg {
        fill: #fff !important;
      }
      &:hover {
        background: $azul-claro !important;
      }
    }
  }

  .tab-container {
    .nav-links {
      border: 0;
      margin: 0 !important;
      margin-bottom: 40px !important;
      li {
        display: table-cell !important;
        width: 1%;
      }
      .nav-item {
        background: #0f4e85;
        color: #fff !important;
        font-weight: normal;
        text-align: center;
        padding: 10px !important;
        text-transform: initial;
        border-right: 2px solid #0d4368;
        @include media('>=320px', '<=374px') {
          padding: 5px !important;
          font-size: 13px;
        }
        &:last-child {
          border: 0;
        }
        a {
          color: #fff !important;
          padding: 0;
        }
        &.active {
          background: #045bab;
          color: #fff;
          &:before {
            content: ' ';
            width: initial !important;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 20px solid #045bab;
            position: absolute;
            bottom: -20px;
            border-bottom: 0;
            left: 50%;
            margin-left: -35%;
          }
        }
      }
    }

    .tab-content {
      padding: 15px !important;
    }
  }

  .faq {
    .panel-group {
      border: 0 !important;

      .panel {
        border: 0 !important;
        margin-bottom: 5px !important;
        border-radius: 0;
        .panel-heading {
          background: #117fa6 !important;
          color: #fff !important;
          padding: 10px !important;
          .panel-title {
            color: #fff;
            .accordion-toggle {
              > div {
                position: relative;
                &:after {
                  content: '(fechada)';
                  display: inline-block;
                  font-size: 12px;
                  margin-left: 5px;
                }
              }
            }
            .fa {
              font-size: 25px;
              margin-right: 10px;
            }
          }
          &:hover {
            background: #035392 !important;
          }
        }
      }

      .panel-open {
        .panel-heading {
          background: #035392 !important;
          .panel-title {
            .accordion-toggle {
                > div {
                  &:after {
                    content: '(aberta)' !important;
                  }
                }
              }
          }
        }

        .panel-collapse {
          .panel-body {
            border: 0 !important;
          }
        }
      }
    }
  }


  .record {
    .card {
      padding: 20px;
    }

    legend {
      font-weight: bold;
      color: $azul-claro;
    }
    .form-control {
      border-radius: 0;
    }
  }

  .history-list {
    ul {
      li {
        color: #fff;
        border-left: 2px solid #fff !important;
        @for $i from 1 through length($color-leveis) {
          &.level-#{$i} {
            &:after {
              content: ' ';
              background: nth($color-leveis, $i) !important;
              color: darken(nth($color-leveis, $i), 25%);
              width: 9px !important;
              height: 9px !important;
              left: -6px;
              top: 3px;
              position: absolute;
              border-radius: 50%;
            }
          }
        }

        &:before {
          content: ' ';
          background: #fff !important;
          width: 15px !important;
          height: 15px !important;
          left: -9px !important;
        }
        p {
          color: #fff !important;
          span {
            color: #fff !important;
          }
          strong {
            color: $azul-claro !important;

          }
        }

        &.level-up {
          &:before {
            content: '\f521' !important;
            width: 30px !important;
            height: 30px !important;
            left: -15px !important;
            top: 1px;
            font-size: 14px;
            text-align: center;
            line-height: 28px;
          }
          &:after {
            width: 24px !important;
            height: 24px !important;
            left: -12px;
            top: 4px;
          }
          p {
            font-size: 14px;
            font-weight: bold;
            span {
              font-weight: normal;
            }
          }
        }
      }
    }
  }


  // VARS
  $circle-width: 0.08em;
  $circle-width-hover: 0.02em;

  // colors default
  $primary-color: $color-text-primary;
  $secondary-color: #ccc;
  $bg-color: #ebebeb;

  .text-primary {
    color: $primary-color;
  }

  // colors dark skin
  $primary-color-dark: #c6ff00;
  $secondary-color-dark: #777;
  $bg-color-dark: #666;

  // CIRCLE
  // classes 2 extend


  .score {
    .svg-icon {
      .svg {
        fill: #fff !important;
        svg {
          width: 35% !important;
        }
      }
    }

    .info {
      p {
        color: #fff !important;
      }
    }
  }

  .score {
    position: relative;
    padding-top: 50px;
    @include media('>=phone', '<=tablet') {
      padding-top: 0px;
    }
    &:before {
      content: ' ';
      background: url('//www.veloxtickets.com/Authenticate/App_Themes/moviecom/svg/logo_programa.svg') no-repeat;
      width: 160px;
      height: 100%;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -80px;
      @include media('>=phone', '<=tablet') {
        content: none;
      }
    }

    h2 {
      text-transform: initial !important;
      font-size: 26px;
    }
    .gouge {
      .points {
        color: #fff !important;
      }
      &.splash {
        @include media('>=phone', '<=tablet') {
          padding-top: 50px;
          &:before {
            content: ' ';
            background: url('//www.veloxtickets.com/Authenticate/App_Themes/moviecom/svg/logo_programa.svg') no-repeat;
            width: 160px;
            height: 100%;
            background-size: contain;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -80px;

          }
        }
      }
    }


    .c100 {
      font-size: 16em;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      float: left;
      margin: 0 0.1em 0.1em 0;
      background-color: transparent !important;

      @include media('>=phone', '<=tablet') {
        font-size: 170px !important;
      }
      // center circle to its parent
      &.center {
        float: none;
        margin: 0 auto;
      }

      // bigger size
      &.big {
        font-size: 240px;
      }

      // smaller size
      &.small {
        font-size: 80px;
      }

      // centered value inside circle
      div > span {

        position: absolute;
        width: 100%;
        z-index: 1;
        left: 10px !important;
        top: 10px !important;
        display: block;
        text-align: center;
        white-space: nowrap;

        width: 3em !important;
        line-height: 3em !important;
        font-size: 0.3em;
        color: #fff !important;
        @include transition-property(all);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-out);
      }

      // background inside the circle
      &:after {
        position: absolute;
        display: block;
        content: ' ';
        background: url('//www.veloxtickets.com/Authenticate/App_Themes/moviecom/svg/gouge.svg') no-repeat top left;
        background-color: transparent !important;
        background-size: contain;

        top: initial;
        left: initial;
        width: 100%;
        height: 100%;


        @include transition-property(all);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in);
      }

      .slice {
        display: none;
      }
    }

    .splash {
       .c100 {
         @include media('>=phone', '<=tablet') {
           font-size: 16em;
         }
       }

       &.info {
         text-align: center !important;
       }

       h2 {
         padding-top: 0 !important;
         &:before {
          content: none !important;
         }
       }
    }

    @include media('>=phone', '<=tablet') {
      margin-bottom: 30px;
    }

    .info {
      text-align: center;
      h2 {
        margin-top: 0;
        padding-top: 0;
      }

      p {
        margin-bottom: 0;
      }

      @include media('>=phone', '<=tablet') {
        text-align: left;
        margin-top: 0 !important;
      }
    }

    .icon {
      &:before {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        background-size: 405% !important;
        position: absolute;
        top: 3px;
        z-index: 1;
        filter: drop-shadow(0 2px 2px rgba(0,0,0,0.5));
      }

      @for $i from 1 through 12 {
        &.position-icon-#{$i} {
          &:before {
            @extend .svg-icon_gouge-#{$i};
          }
        }
      }
    }
  }

  .message {
    &.data-empty {
      p {
        color: #fff;
        i {
          position: relative;
          text-indent: -9999999px;
          margin: 0 auto;
          width: 100px;
          display: inline-block;
          min-height: 100px;
          margin-bottom: 10px;
          &:before {
            background-size: contain;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            content: ' ';
            background: url('//www.veloxtickets.com/Authenticate/App_Themes/moviecom/svg/ico_pop15.svg') no-repeat;
            background-size: contain;
          }
        }
        span {
          color: #fff;
          display: block;
        }
      }
    }
  }


  .level {
    .carousel-control .icon-prev:before,
    .carousel-control .icon-next:before {
      color: #fff !important;
    }
  }

  .tab-container .tab-content {
    padding-top: 0 !important;
  }

}

