%svg-common {
	background: url('//www.veloxtickets.com/Authenticate/App_Themes/moviecom/svg/sprite.css-bd7c747e.svg') no-repeat;
}

.svg-icon_gouge-1 {
	@extend %svg-common;
	background-position: 33.3211358677114% 0;
}

.svg-icon_gouge-1-dims {
	width: 469.871px;
	height: 467.949px;
}

.svg-icon_gouge-10 {
	@extend %svg-common;
	background-position: 0 66.6569804088313%;
}

.svg-icon_gouge-10-dims {
	width: 469.871px;
	height: 467.949px;
}

.svg-icon_gouge-11 {
	@extend %svg-common;
	background-position: 0 33.32849020441565%;
}

.svg-icon_gouge-11-dims {
	width: 469.871px;
	height: 467.949px;
}

.svg-icon_gouge-12 {
	@extend %svg-common;
	background-position: 33.3211358677114% 33.32849020441565%;
}

.svg-icon_gouge-12-dims {
	width: 469.871px;
	height: 467.949px;
}

.svg-icon_gouge-2 {
	@extend %svg-common;
	background-position: 66.6422717354228% 0;
}

.svg-icon_gouge-2-dims {
	width: 469.871px;
	height: 467.949px;
}

.svg-icon_gouge-3 {
	@extend %svg-common;
	background-position: 66.6422717354228% 33.32849020441565%;
}

.svg-icon_gouge-3-dims {
	width: 469.871px;
	height: 467.949px;
}

.svg-icon_gouge-4 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icon_gouge-4-dims {
	width: 469.871px;
	height: 467.949px;
}

.svg-icon_gouge-5 {
	@extend %svg-common;
	background-position: 33.3211358677114% 66.6569804088313%;
}

.svg-icon_gouge-5-dims {
	width: 469.871px;
	height: 467.949px;
}

.svg-icon_gouge-6 {
	@extend %svg-common;
	background-position: 99.96340760313419% 0;
}

.svg-icon_gouge-6-dims {
	width: 469.871px;
	height: 467.949px;
}

.svg-icon_gouge-7 {
	@extend %svg-common;
	background-position: 99.96340760313419% 33.32849020441565%;
}

.svg-icon_gouge-7-dims {
	width: 469.871px;
	height: 467.949px;
}

.svg-icon_gouge-8 {
	@extend %svg-common;
	background-position: 0 99.98547061324697%;
}

.svg-icon_gouge-8-dims {
	width: 469.871px;
	height: 467.949px;
}

.svg-icon_gouge-9 {
	@extend %svg-common;
	background-position: 33.3211358677114% 99.98547061324697%;
}

.svg-icon_gouge-9-dims {
	width: 469.871px;
	height: 467.949px;
}

