.score {
  .svg-icon .svg {
    fill: $color-primary;
  }

  .c100 {
    background-color: $color-score-circle;

    div > span {
      color: $color-primary;
    }

    .slice {
      color: $color-primary;
    }
  }

}

.pie {
  border-color: $color-primary;
}

