$color-primary: #253645 !default;
$color-primary-hover:       #4A5864 !default;
$color-secondary:           #212121 !default;
$color-secondary-hover:     #2F2F2F !default;
$color-text-primary:        #757575 !default;
$color-text-secondary:      #EBEBEB !default;
$color-backgorund:          #FFFFFF !default;
$color-primary-bar:         #222 !default;

$color-score-circle: #ccc !default;

// Cores dos leveis do historico
$color-level-1: #a8a8a8;
$color-level-2: #dba00a;
$color-level-3: #db0a0a;
$color-level-4: #0a59db;
$color-level-5: #5abc09;
$color-level-6: #5abc09;
$color-leveis: $color-level-1, $color-level-2, $color-level-3, $color-level-4, $color-level-5, $color-level-6;

@import "../../base";
