$color-primary: #1a4796 !default;
$color-primary-hover:       #5178BB !default;
$color-secondary:           #bf0411 !default;
$color-secondary-hover:     #cc0516 !default;
$color-text-primary:        #212121 !default;
$color-text-secondary:      #757575 !default;
$color-backgorund:          #FFFFFF !default;
$color-primary-bar:         #223EA1 !default;

$color-score-circle: #ccc !default;

// Cores dos leveis do historico
$color-level-1: #a8a8a8;
$color-level-2: #dba00a;
$color-level-3: #db0a0a;
$color-level-4: #0a59db;
$color-level-5: #5abc09;
$color-level-6: #5abc09;
$color-leveis: $color-level-1, $color-level-2, $color-level-3, $color-level-4, $color-level-5, $color-level-6;

@import "../../base";
 @import "../../pages/game_fidelity/custom-moviecom"; 