.alert {
  border-radius: 0;
  &.alert-top {
    padding: 5px !important;
    margin-bottom: 5px;
  }
}

.alerts {
}

.feedback {
  margin: 40px;
  .alert {
    margin-bottom: 20px;
    padding: 15px !important;
    @include clearfix;
    
    .message {
      font-size: 16px;
      margin-top: 15px;
      margin-left: 20px;
      display: inline-block;
    }
    .glyphicon {
      font-size: 45px;
      float: left;
    }

  }
}

.feedback-return {
    float: right;

    @include media("<=553px") {
        float: left;
        padding-top: 2px;
    }
}



.message {
  &.data-empty {
    p {
      text-align: center;
      font-size: 16px;
      color: #757575;
      i {
        display: block;
        font-size: 46px;
        font-style: normal;
        font-weight: bold;
        margin-bottom: 10px;
        color: #676767;
        text-shadow: 1px 1px 2px #fff;
        span {
          font-size: 30px;
          padding-left: 10px;
          color: #757575;
          text-shadow: none;
        }
      }

    }

  }
}