.banners {
  position: relative;
  .slick-controls {
    margin-top: -30px;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px;

    .slick-arrow {
      display: inline-block;
    }
    ul {
      padding: 0;
      margin: 0;
      display: inline-block;
      li {
        display: inline-block;
      }
    }
    .slick-dots {
      li {
        button {
          &:before {
            font-size: 40px;
          }
        }
      }
    }

    @include media(">=phone", "<=tablet") {
      .slick-prev, .slick-next {
        &:before {
          font-size: 14px;
        }
      }

      .slick-dots {
        li {
          button {
            &:before {
              font-size: 30px;
              top: 10px;
            }
          }
        }
      }
    }
  }
  .slick-slide {
    img {
      margin: auto;
    }
  }
}
