.first-access {
  overflow: hidden;
  .header-menu .container, #header {
    position: relative;

    .first-access-message {
      position: absolute;
      top: 90px;
      left: 310px;
      z-index: 99999;
      width: 300px;

      .close {
        position: absolute;
        top: 0;
        left: 195px;
        font-family: 'Indie Flower', cursive;
        color: #fff;
        opacity: 1;
        text-shadow: none;
        span {
          font-size: 21px;
        }
      }
      .arrow {
        background: url(/images/arrow-open.png) no-repeat;
        display: block;
        width: 120px;
        height: 100px;
      }
      p {
        color: #fff;
        font-weight: bold;
        font-size: 32px;
        font-family: 'Indie Flower', cursive;
      }

      @include media("<tablet", ">=480px") {
        top: 240px;
        right: 0;
        left: initial;
        .arrow {
          width: 100px;
          height: 70px;
          transform: rotate(440deg);
          position: relative;
          left: 180px;
          margin-bottom: 30px;
        }
        .close {
          left: 130px;
        }
      }
       @include media("<480px") {
          top: 230px;
          left: initial;
          right: 0;
          z-index: 99999;
          width: 280px;
          .arrow {
            width: 100px;
            height: 70px;
            transform: rotate(440deg);
            position: relative;
            left: 180px;
            margin-bottom: 30px;
          }
          .close {
            left: 135px;
            span {
              font-size: 17px;
            }
          }
          p {
            font-size: 30px;
          }
       }

       @include media("<=320px") {
        left: 40px;
       }
    }
  }

  .button-menu.city {
    position: relative;
    z-index: 9999;
  }

  .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    @include opacity(0.8);
  }
}