#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1rem;
  width: 100%;
  margin-top: 10px;

  .footer-velox {
    background-color: $color-bg-footer  ;
    padding: 30px 0 20px 0;

    ul {
      margin-bottom: 0;
      li {
        font-size: 12px;
        a {
          color: $color-footer-font;
        }
      }
    }
    p {
      color: $color-primary;
      font-weight: bold;
      margin-bottom: 0px;
    }

    .about {
      padding-top: 20px;
      margin-top: 20px;
      border-top: 1px solid $color-lines-footer;
      li {
        margin-right: 20px;
        &:last-child {
          float: right;
          margin: 0;
        }
      }
    }
    .box {
      div {
        min-height: 63px;
        border-right: 1px solid $color-lines-footer;
        padding-left: 30px;
        &.logo {
          padding-left: 0px;
        }
        &.social {
          border: 0;
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
              display: inline-block;
              margin-right: 20px;
              a {
                text-decoration: none;
                font-size: 30px;
                color: $color-primary;
                &:hover {
                  color: $color-primary-hover;
                  text-decoration: none;
                }
                &:focus, &:active {
                  text-decoration: none;
                }
                .title {
                  display: none;
                }
              }
            }
          }
        }

        &.app {
          a {
            margin-top: 10px;
            display: inline-block;
          }
        }
      }
    }


  }


  .footer-copy {
    background-color: $color-bg-footer-copy;
    color: $color-footer-copy-font;
    padding:  25px 0 15px 0;
    p {
      text-align: center;
      font-size: 12px;
      @include media("<=480px") {
        text-align: left;
      }
      strong {
        display: block;
      }
      margin: 0;
    }
  }

  @media (max-width: $screen-sm-max) {
    .footer-velox {
      padding: 20px 0;
      .about {
        li {
          &:last-child {
            float: none;
          }

        }
      }
      .box {
        div {
          min-height: auto;
          padding-left: 10px !important;
          img {
            height: 40px;
          }
          &.logo {
            border: 0;
          }

          &.social {
            ul {
              li {
                margin-right: 10px;
                a {
                  font-size: 20px;
                }

              }
            }
          }

        }
      }

    }
  }



  &.plugin {
    .footer-velox {
      padding: 10px;
      p {
        margin-right: 20px;
        padding-right: 20px;
        font-size: 13px;
      }
      .about {
        display: inline-block;
        margin-top: 0;
        padding-top: 0;
        border: 0;
        li {
          &:last-child {
            float: none;
          }

        }
      }
      .powered {
        text-align: right;
        span {
          color: #757575;
          font-size: 11px;
          a {
            color: #fff;
          }
        }
      }
    }
  }

  @include media("<tablet") {
    &.plugin {
      .footer-velox {
        p {
          display: block;
          border: 0;
          margin-bottom: 5px;
        }
        .about {
          li {
            display: block;
          }
        }
      }
    }
  }
}
.footer-portal {
    border-top: 1px solid $color-lines-footer;
}