#header {
    /*margin-bottom: 10px;*/

    .header-logo {
        background: $color-bg-header;
        padding: 15px 0 10px 0;
    }

    @media (max-width: $screen-md-max) {
        .header-logo {
            padding: 15px 0 0px 0 !important;
        }
    }

    .upperlink {
        color: $color-text-secondary;
        font-size: 12px;
        padding-right: 50px;
        float: right;
        font-weight: bold;
    }

    @media (min-width: $screen-xs-max) {
        .upperlink {
            display: none;
        }
    }

    .homelink {
        margin-top: 15px;
    }

    @media (max-width: $screen-xs-min) {
        .loginlink-plugin {
            margin-top: -10px !important;
        }
    }
    // @media (min-width:   $screen-xs-min) {
    // .loyalty-portal-img {
    //   top: -12px !important; } }
    @media (max-width: $screen-xs-min) {
        .divlogout-plugin {
            margin-top: -20px;
        }
    }

    .imgloyalty-plugin {
        vertical-align: sub;
        //top: 0px !important;
    }

    @include media(">=phone", "<tablet") {
        .loyaltylink-plugin {
            font-size: 12px !important;
        }
    }

    @media (max-width: $screen-xs-max) {
        .homelink {
            margin-top: 15px;
        }
    }

    .header-item {
        white-space: nowrap;
    }

    @media (max-width: $screen-xs-max) {
        .header-item {
            line-height: 2.0em;
        }
    }

    .loyalty-item {
        white-space: nowrap;
    }

    @media (max-width: $screen-xs-max) {
        .loyalty-item {
            line-height: 1.5em;
        }
    }

    .loyalty-plugin {
        margin-right: 30px;
        margin-left: 10px;
    }
    //@media (max-width: $screen-xs-max) {
    //.loyalty-plugin {
    //  top: 0px !important; } }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        .loyalty-item {
            margin-top: -8px;
        }
    }

    @media (min-width: $screen-sm-max) {
        .loyalty-item {
            margin-top: 3px;
        }
    }

    .loyalty-p :not(.loyaltylink-plugin) :not(.loyalty-desc) {
        margin-bottom: 0px;
        line-height: 3.5em;
    }
    //.loyalty-p :not(.hidden-xs){
    //   margin-bottom:0px;
    //   line-height:3.5em;
    //}
    @include media(">phone", "<=tablet") {
        .loyalty-p {
            line-height: 3.5em;
        }
    }

    @media (min-width: $screen-sm) and (max-width: $screen-md) {
        .loyalty-p {
            margin-left: -20px;
        }
    }

    @media (max-width: $screen-xs-max) {
        .loyalty-p :not(.loyalty-plugin) { //line-height:3.6em;
            margin-top: 0px !important;
        }
    }

    .loyalty-logged-p {
        margin-bottom: 0px;
        line-height: 4em;
    }

    @include media(">phone", "<=tablet") {
        .loyalty-logged-p {
            line-height: 2.5em;
            top: -12px !important;
        }
    }

    @media (max-width: $screen-xs-max) {
        .loyalty-logged-p {
            line-height: 4em;
            margin-top: 0px !important;
        }
    }

    @media (min-width: $screen-sm-max) and (max-width: $screen-md-max) {
        .loyalty-item {
            margin-top: -10px;
        }
    }

    @media (min-width: $screen-md-max) {
        .loyalty-p {
            margin-bottom: 0px;
        }
    }

    @media (max-width: $screen-xs-min) {
        .loyalty-plugin {
            margin-right: 0px;
        }
    }

    @media (max-width: $screen-xs-min) {
        .hello-plugin {
            margin-left: 10px;
        }
    }

    @include media(">=415px", "<=480px") {
        .hello-plugin {
            margin-left: 20px !important;
        }
    }

    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
        .loyalty-plugin {
            margin-right: 10px;
        }
    }

    .loyalty-img {
        // top: 9px;
        margin-left: 10px;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    @media (max-width: $screen-md) {
        .loyalty-img {
            top: 9px;
        }
    }

    @media (min-width: $screen-sm) and (max-width: $screen-xs-min) {
        .loyalty-img {
            top: 5px;
        }
    }

    @media (max-width: $screen-xs-max) {
        .loyalty-img :not(.loyalty-plugin) {
            top: -3px;
        }
    }

    .navbar {
        .icons-social {
            a {
                padding-left: 5px !important;
                font-size: 18px !important;
                color: $color-primary !important;

                &:hover {
                    color: $color-primary-hover !important;
                    text-decoration: none;
                }

                &:active {
                    text-decoration: none;
                }
            }
        }

        .menu {
            .icons-social {
                color: $color-text-secondary;
                font-size: 14px;
                padding: 0;
                line-height: 10px;
            }

            li {
                margin-right: 10px;
                padding-right: 10px;
                color: $color-menu-link-about;
                line-height: 13px;
                min-height: 13px;

                &:not(.icons-social) {
                    border-right: 1px solid $color-menu-link-about;
                }

                a {
                    color: $color-menu-link-about;
                    font-size: 14px;
                    padding: 0;
                    line-height: 10px;

                    &:hover {
                        background: none;
                    }
                }

                &:last-child {
                    border: 0;
                    margin: 0;
                }
            }
        }
    }

    .login {
        text-align: right;
        margin-top: 10px;

        p {
            display: inline-block;
            font-size: 13px;
            margin-top: 5px;
            margin-bottom: 0;

            :not(.loyalty-plugin-p) {
                //vertical-align: top;
            }

            a {
                color: $color-header-login-color;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
            }

            span {
                display: block;
                font-style: italic;
                color: $color-header-color;
            }
        }

        @include media("<480px") {
            margin-top: 0;

            p {
                a {
                    position: relative;

                    :not(.loyaltylink-plugin) {
                        top: 10px;
                    }
                }
            }
        }

        .icon-login {
            color: $color-primary;
            font-size: 32px;
            margin-left: 10px;
        }

        .icon-loyalty {
            color: $color-primary;
            font-size: 32px;
            // margin-left: 10px;
        }

        .logged {
            margin-top: -10px;

            .user {
                div {
                    p, > a {
                        font-size: 14px;
                        color: $color-header-login-color;
                        font-weight: bold;
                        //text-transform: uppercase;
                        text-decoration: none;
                        vertical-align: bottom;
                        min-height: 26px;
                        margin-bottom: 0;

                        p {
                            @include text-overflow();
                            max-width: 100px;
                        }
                    }
                }

                p, > a {
                    font-size: 14px;
                    color: $color-header-login-color;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    vertical-align: bottom;
                    min-height: 26px;
                    margin-bottom: 0;

                    p {
                        @include text-overflow();
                        max-width: 100px;
                    }
                }

                ul li .header-loyalty-text {
                    //p, > a {
                    font-size: 14px;
                    color: $color-header-login-color;
                    font-weight: bold;
                    text-transform: none;
                    text-decoration: none;
                    vertical-align: bottom;
                    min-height: 26px;
                    margin-bottom: 0;

                    p {
                        @include text-overflow();
                        max-width: 100px;
                    }
                    //}
                }

                .icon-login {
                    position: relative;
                    top: 9px;
                }
                //.icon-loyalty {
                // position: relative;
                //top: -10px !important;
                //}
                .loyalty-img :not(.imgloyalty-plugin) {
                    top: -10px !important;
                }

                p {
                    text-transform: none;
                }

                .dropdown-menu { top: auto; }
            }
        }

        @include media(">=phone", "<tablet") {
            .user {
                p, > a {
                    font-size: 12px !important;
                    margin: 0;

                    p {
                        max-width: 70px !important;
                    }
                }

                .icon-login {
                    font-size: 28px;
                }

                .icon-loyalty {
                    font-size: 28px;
                }

                .loyalty-img :not(.imgloyalty-plugin) {
                    top: 10px !important;
                }
            }
        }
    }
    //.header-menu, .menu-webapp {
    //    background: $color-primary-bar !important;
    //}
    .header-menu, .menu-webapp,
    .header-menu, .menu-puglin {
        background: $color-bg-menu;

        .navbar {
            position: initial;
            min-height: 41px;
            margin-bottom: 0;
            border: 0;

            .menu {
                .button-menu {
                    margin: 0;
                    padding: 0;
                    float: left;
                    //&:first-child {
                    border-right: 1px solid;
                    //}
                    //&:last-child {
                    border-right: 1px solid;
                    //}
                    @include media(">=280px", "<tablet") {
                        float: none;
                        display: block;

                        &.city {
                            .btn-link {
                                padding: 10px !important;
                            }
                        }
                        //&:first-child {
                        border-bottom: 1px solid #585858;
                        //}
                        //&:last-child {
                        border-bottom: 1px solid #212121;
                        //}
                    }
                }

                .button {
                    p {
                        font-weight: normal;
                        display: inline;
                    }

                    .btn-link {
                        background: $color-bg-menu-open;

                        &.collapsed {
                            background: $color-bg-menu;
                        }

                        @include media(">=280px", "<tablet") {
                            font-size: 14px !important;
                            text-align: center !important;
                            padding: 8px !important;
                        }
                    }

                    position: relative;


                    .btn-link {
                        color: $color-menu-link;
                        padding: 10px;
                        font-weight: bold;
                        font-size: 16px;
                        display: block;
                        text-align: left;
                        margin-bottom: 0 !important;

                        > [class^="icon"] {
                            font-size: 15px;
                            margin-left: 5px;
                            position: relative;
                            top: -1px;
                            color: $color-primary;
                        }
                    }

                    .content {
                        background: $color-bg-menu-open;
                        position: absolute;
                        left: 0;
                        padding: 15px;
                        width: 100%;
                        top: 39px;
                        z-index: 999;

                        .btn {
                            margin-top: 5px;
                            width: 100%;
                        }


                        .custom-select {
                            position: relative;
                            cursor: pointer;
                            margin-bottom: 10px;
                            background: #ddd;
                            //.arrow {
                            //   // @include icon(down);
                            //    position: absolute;
                            //    right: 10px;
                            //    top: 5px;
                            //    color: $color-primary;
                            //    font-size: 15px;
                            //    height: 10px;
                            //
                            //}
                            &.arrow {
                                @include icon(down);
                                //position: absolute;
                                //right: 10px;
                                //top: 5px;
                                //color: $color-primary;
                                //font-size: 15px;
                                //height: 10px;
                                &:before {
                                    position: absolute;
                                    right: 10px;
                                    top: 5px;
                                    color: $color-primary;
                                    font-size: 15px;
                                    height: 10px;
                                }
                            }

                            select {
                                &:active {
                                    background: rgba(255, 255, 255, 0.5);
                                }

                                &::-ms-expand {
                                    display: none;
                                }

                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                background: transparent;
                                position: relative;
                                cursor: pointer;
                                border: none;
                                font-size: 14px;
                                font-weight: bold;
                                color: #212121;
                                outline: none;
                                height: 40px;
                                width: 100%;
                                padding: 0 8px;
                                padding-right: 30px;
                            }
                        }

                        dl {
                            border-top: 1px solid #8e8e8e;
                            padding-top: 10px;
                            margin-top: 15px;
                            font-size: 15px;
                            margin-bottom: 0;

                            dt {
                                color: #fff;
                                margin-bottom: 5px;
                            }

                            dd {
                                font-size: 14px;
                                line-height: 22px;

                                a {
                                    color: $color-primary-hover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .navbar {
        .navbar-header {
            .navbar-brand {
                padding: 0;
                height: 61px;
                width: 153px;
            }

            .login {
                float: right;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        .button {
            .content {
                top: 36px !important;
            }
        }

        .header-logo {
            .navbar {
                margin: 0;
                min-height: auto;
                border: 0;

                .navbar-nav {
                    li {
                        float: left;

                        .custom-select {
                            display: inline-block;
                        }
                    }
                }

                .navbar-header {
                    .navbar-brand img {
                        height: 65px;
                    }
                }
            }
        }


        .header-menu {
            .container {
                padding: 0;
            }

            .navbar-nav {
                display: block;
                margin: 8px -20px;
                padding: 0 15px;

                &:first-child {
                    border-bottom: 1px solid #ebebeb;
                    margin-bottom: 5px;
                    padding-bottom: 10px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                li {
                    float: left;

                    .custom-select {
                        display: inline-block;
                    }
                }
            }
        }
    }

    &.plugin {
        .menu-webapp,
        .menu-puglin {
            padding: 0;

            .navbar {
                padding-bottom: 0;
            }
        }

        .button {
            &.events.active {
                &:before {
                    bottom: -2px !important;
                }
            }
        }

        .header-login {
            background: #fff;
            padding: 10px;
            border-bottom: 2px solid #ccc;

            .partner {
                img {
                    max-height: 50px;
                }
            }

            .home {
                a {
                    margin-top: 5px;
                    display: inline-block;
                    color: $color-primary;
                    font-size: 22px;
                }
            }

            .login {
                text-align: right;

                p {
                    margin-bottom: 0;

                    a {
                        font-size: 14px;
                        color: #000;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;

                        span {
                            font-size: 15px;
                            position: relative;
                            top: 3px;
                            margin-left: 2px;
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                .logout {
                    p > :not(.loyalty-plugin) {
                        display: block;
                        margin-top: 0;

                        a {
                            display: inline-block;
                            line-height: 35px;
                            height: 30px;

                            span {
                                float: right;
                                top: 0;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }

        .navbar {
            border-bottom: 1px solid #212121 !important;
            padding-bottom: 15px;
            border-radius: 0;

            .menu li {
                color: #212121;
                border-color: #212121;
            }

            .navbar-nav li .custom-select {
                select {
                    color: #212121 !important;

                    option {
                        color: #212121 !important;
                    }
                }
            }
        }

        &.plugin {
            .login {
                margin-top: 0;

                p, a {
                    color: #333 !important;
                }

                .icon-login {
                    font-size: 26px;
                }

                .icon-loyalty {
                    font-size: 26px;
                }

                &.outFrame {
                    min-height: 50px;
                    margin-top: 8px;
                }
            }
        }
    }
}
.header-portal {
    //border-bottom: 1px solid $color-lines-footer;
}