

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
  display: block;
  position: relative;
  &.icon-addon-right {
    .glyphicon {
      left: initial !important;
      right: 10px;
    }
  }
  &:after,
  &:before {
      display: table;
      content: " ";
  }

  &:after {
    clear: both;
  }

}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    right: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md {
    &.form-control,
    &.icon-addon .form-control {
        padding-left: 30px;
        float: left;
        font-weight: normal;
    }

    &.icon-addon-right {
        &.form-control,
        &.icon-addon .form-control {
            padding-left: 10px;
            padding-right: 40px;
        }
    }
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

