.legend-chair {
    > div > div {
        min-height: 130px;
    }
  dl {
    margin-bottom: 10px;
    dt {
      margin-bottom: 5px;
    }
    dd {
      font-size: 13px;
      margin-bottom: 5px;
      vertical-align: middle;
      span {
        width: 25px;
        height: 25px;
        display: inline-block;
        position: relative;
        border-radius: 5px;
        border: 1px solid #999;
        vertical-align: middle;
        margin-right: 5px;
        &.icon-namoradera, &.icon-star, &.icon-acompanhante {
          &:before{
            font-size: 15px;
          }
        }
        &:before {
          font-size: 17px;
          text-align: center;
          width: 24px;
          color: $color-primary;
          display: inline-block;
          vertical-align: text-top;
          height: 24px;
          margin-top: -2px;
        }
      }
    }
    &.status {
      span {
        border: 0;
        &.available { background: $color-legend-available }
        &.select { background: $color-legend-select }
        &.unavailable { background: $color-legend-unavailable }
        &.other-sector { background: $color-legend-other-sector }
      }
    }
    &.sectors {
      span {
        border: 0;
        &.normal { background: $color-legend-sector-normal }
        &.vip { background: $color-legend-sector-vip } 
        &.other { background: $color-legend-sector-other } 
      }
    }
  }
}
.modal-body {
    .legend-chair {
        dl {
            dd {
                span {
                    width: 15px;
                    height: 15px;
                    margin-right: 0px;
                    &:before {
                        font-size: 10px;
                        height: 14px;
                        width: 14px;
                    }
                }
            }
        }
    }
}
