.loading-page {
	visibility: hidden;
	overflow: hidden;
	height: 0;
	@include opacity(0);
}
.complete-load {
	@include opacity(1);
  visibility: visible;
	height: auto;
	transition: all .2s ease-in-out;
  overflow: initial;
}

.loader {
  text-indent: -99999px;
  z-index: 9999;
  &:before {
    font-size: 10px;
    position: absolute;
    text-indent: -9999em;
    border-top: 3px solid lighten($color-primary, 10%);
    border-right: 3px solid lighten($color-primary, 10%);
    border-bottom: 3px solid lighten($color-primary, 10%);
    border-left: 3px solid lighten($color-primary, 30%);
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    content: ' '; 
    float: left;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    left: calc(50% - 35px);
    z-index: 5555;
  }
  &.page {
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    // margin-left: -30px;
    // margin-top: -30px;
  }
  &.loader-content {
    text-indent: initial;
    &:after {
      background: #fff;
      content: ' ';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      @include opacity(0.5);
    }
    &:before {
      top: 50%;
      margin-top: -25px;
    }
  }
  &.centered{ &:before { left: calc(50% - 35px) } }
}


@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.loaderContent:before {
    font-size: 10px;
    position: absolute;
    text-indent: -9999em;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    content: ' ';
    float: left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
    z-index: 5555;
}

.loaderContent:after {
    background: #fff;
    content: ' ';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.loaderContent {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #ccc;
    z-index: 99;
    text-align: center;
}