.menu-hamburger {
  position: relative;
  float: right;
  .navbar-toggle {
    background: #fff;
    .icon-bar {
      background: #ccc;
    }

  }
  .navbar-toggle {
    @include media("<=990px") {
      display: block;
    }
  }
}

.menu-itens {
  margin-top: -20px;
  margin-bottom: 10px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: block;
        background: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        border-top: 0;
        &:hover {
          background: #efefef;
        }
        a {
          text-decoration: none;
          display: block;
        }
      }
    }
  }