.filter-theaters {
  h2 {
    font-size: 16px;
    font-weight: bold;
  }

  label {
    color: $color-text-primary !important;
  }
}

.movie-theaters {
  p {
    > span {
      color: $color-primary;
      font-size: 25px;
      float: left;
      margin-right: 10px;
      line-height: 30px;
    }
    a {
        &:hover {
        text-decoration: none;
      }
      font-weight: bold;
      color: $color-text-primary;
      line-height: 14px;
      .district {
        display: block;
        color: $color-text-secondary;
       
        font-weight: normal;
      }
    }

    margin-bottom: 25px;
  }
  &.cities {
    p {
      a {
        padding-top: 8px;
        display: inline-block;
      }
    }
  }
}

.card-movie-theater {
  &.header {
    padding-bottom: 15px;

    img {
      margin-bottom: 10px;
      border-bottom: 1px solid $color-card-color-lines;
    }
  }

  border: 1px solid $color-card-border;
  border-radius: 3px;
  background-color: $color-card-bg;
  padding: 15px;
  padding-bottom: 0;
  margin: 20px 0;
  color: $color-card-font;

  &.soon {
    .register {
      h2 {
        color: $color-primary;
        margin-top: 0;
      }
      h3 {
        color: #333;
      }
      h5 {
        border-top: 1px solid #ccc;
        margin-top: 20px;
        padding-top: 20px;
        margin-bottom: 15px;
      }
    }
  }

  &.disabled {
    position: relative;
    color: $color-card-disabled-font;

    .alert {
      z-index: 22;
      position: relative;
      margin-bottom: 15px;
    }

    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-card-disabled-bg;
      @include opacity(0.7);
    }
  }

  .card-header {
    @include clearfix;
    h3, h1 {
      color: $color-primary;
      margin: 0;
      font-size: 16px;
    }
    p {
      &.district {
        .icon-map {
          color: $color-primary;
        }
        .btn-modal-maps {
          cursor: pointer;
        }
      }
      font-weight: bold;
      font-size: 12px;
    }
    .take {
      text-align: center;
      > p {
        color: $color-primary;
        line-height: 13px;
        margin-bottom: 2px;
      }
      @include media("<=768px") {
        text-align: left;
        > p {
          display: block;
          margin-top: 0px;
          text-align: left;
        }
        span {
          float: right;
        }
      }
      span {
        color: $color-card-icons;
        font-size: 25px;
        margin: 0 5px;
        line-height: 31px;
        width: 18px;
        float: left;
        &.icon-print {
          font-size: 22px;
        }
      }
    }

    .accessibility {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 3px 5px;
        background-color: $color-card-accessibility-bg;
        color: $color-card-accessibility-font;
        border-radius: 4px;
        margin-right: 10px;
        margin-bottom: 10px;
        line-height: 12px;
        font-style: italic;
        font-size: 12px;
        .icon {
          color: $color-primary;
          line-height: 10px;
          float: left;
          margin-right: 2px;
        }
      }
    }
  }

  .movie-detail {
    ul {
      li, li h2 {
        color: $color-card-font !important;
      }
    }
  }

  #alert {
    display: none;
  }

  .itens-filter {
    position: relative;
    @include clearfix;
    .filters {
      width: 96.6%;
    }
  }
  .card-rooms {
    .legend {
      border-top: 2px solid $color-card-color-lines;
      font-style: italic;

      p {
        font-weight: bold;
        color: $color-primary;
        list-style: none;
        margin-right: 10px;
        margin-bottom: 0;
        display: inline-block;
      }
      ul {
        display: inline-block;
        padding: 0;
        li {
          &.isSector {
            &:before {
              color: $color-primary;
            }
          }
          &:before {
            content: '•';
            font-size: 20px;
            margin-top: 5px;
            margin-right: 8px;
            position: relative;
            top: 2px;
          }
          display: inline-block;
          margin-right: 15px;
        }

      }
    }

    .rooms-hours {
      margin-bottom: 10px;
      button {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .btn-group {
        margin-bottom: 15px;
       }
     }
     .promotion {
         position: absolute;
         left: 0;
         background-color: #000;
         padding: 1px 0px;
         color: #fff;
         font-size: 8px;
         font-weight: bold;
         border-radius: 3px;
         width: 94%;
         text-align: center;
         text-transform: uppercase;
         z-index: 999;
         top: -11px;
         margin: 0px 0 0 3px;
     }
  }

}

.places, .cine {
  .message {
    margin: 60px 0px;
    border-top: 1px solid #ccc;
    padding-top: 30px;
  }
}
