.wrapper-movies {
  display: grid;
  //grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  @include media(">=phone", "<=tablet") {
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  }
  .fitered {
    margin: 10px;
  }
}

.movie {
    position: relative;
    margin-bottom: 20px;
    border: 2px solid transparent;
    &:hover {
      .movie-actions {
        @include opacity(1);
      }
    }

    .movie-actions {
      position: absolute;
      background-color: rgba(0, 0, 0, .8);
      @include opacity(0);
      width: 100%;
      bottom: 55px;
      @include transition(all .25s ease);

      ul {
        list-style: none;
        padding: 10px 0;
        margin-bottom: 0;
        li {
          &:first-child {
            margin-bottom: 10px;
          }
          padding: 0 10px;
          a {
            display: block;
            .icon-play {
              font-size: 14px;
              position: relative;
              top: 2px;
            }
          }
        }
      }

      &.plugin {
        .btn {
          font-size: 13px;
          .icon-play {
            margin: 0;
          }
        }
      }
    }

    .movie-info {
      margin-top: 10px;
      min-height: 45px;
      dl {
        margin-bottom: 0;
        dt {
          display: block;
          font-weight: normal;
          display: -webkit-box;
          color: $color-text-primary;
          line-height: 14px;
          font-size: 12px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: 29px;
          max-width: 150px;
          //margin-bottom: 5px;
          max-height: 28px;
        }
        dd {
          color: $color-primary;
          text-transform: uppercase;
          font-size: 10px;
        }
      }
    }

    .movie-detail {
      margin-top: 10px;
      ul {
        li, li h2 {
          h2 {
            margin: 0;
            display: inline-block;
          }
          font-size: 12px;
          color: $color-text-primary;
        }
      }
      .classification {
        display: inline-block;
        height: 18px;
        text-align: center;
        border-radius: 4px;
        font-weight: bold;
        color: $color-classification-font;
        font-size: 12px;
        margin-left: 2px;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 0 $color-classification-font;
        padding: 0 3px;
        line-height: 18px;
        &.type-I {
          background: $color-classification-I;
          &:after {
             content: 'ndef.';
          }
        }
        &.type-L {background: $color-classification-L;}
        &.type-10 {background: $color-classification-10;}
        &.type-12 {background: $color-classification-12;}
        &.type-14 {background: $color-classification-14;}
        &.type-16 {background: $color-classification-16;}
        &.type-18 {background: $color-classification-18;}
      }
      .tooltip-help {
        display: inline-block;
        font-size: 10px;
        width: auto;
        height: auto;
        padding: 0px 4px;
        margin-left: 3px;
      }

      @include media(">=tablet", "<=991px") {
        .actions {
          a {
            display: block;
            margin-bottom: 10px;
          }
        }
      }
    }


    &[class*='highlight-'] {
      &[class*='-pre'] {
        border:2px solid $color-primary;
        background-color: $color-primary;
        border-radius: 3px;

        .movie-actions {
          bottom: 54px;
        }

        .movie-info {
          dl {
            margin-left: 10px;
            dt {
              color: $color-text-secondary;
            }
            dd {
              color: #fff;
              span {
                &:last-child {
                  display: inline-block;
                  position: relative;
                  top: 1px;
                  left: 4px;
                }
              }
            }
          }
        }
      }
      .hint {
        position: absolute;
        //right: 0;
            margin-right: 0px;
        background: $color-primary;
        padding: 2px 5px;
        text-transform: uppercase;
        color: #fff;
        font-size: 8px;
        font-weight: bold;
        border-radius: 0 0 0 3px;
      }

    }
    .promotion {
        position: absolute;
        left: 0;
        background-color: #000;
        padding: 5px 0px;
        color: #fff;
        font-size: 0.5em;
        font-weight: bold;
        border-radius: 0px 3px 3px 3px;
        width: 40%;
        text-align: center;
        text-transform: uppercase;
        z-index: 999;
        .glyphicon{
            position: absolute;
        }
        .glyphicon-star{
            left: 2px;
            top: 2px;
            font-size: 0.6em;
            float: left;
        }
        .glyphicon-star:before{
            font-size: 12px;
        }
    }

  }

  .movie-synopsis {
    max-height: 300px;
    overflow: hidden;
    color: $color-text-primary;
    padding-right: 20px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /*@include media(">=phone", "<=tablet") {
      overflow-y: auto;
    }*/
  }

  .movie-category {
    margin-top: 8px;
    .checkbox {
      margin-right: 10px;
      label {
        padding: 0;
      }
    }
    .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
      margin-left: 0;
    }
  }

.movies {
  .movie {
    @media (min-width: $screen-sm-min) and (max-width: $screen-xs-max) {
        width: 100% !important;
    }

    @include media(">phone", "<tablet") {
      &.pre {
        dl {
          margin-top: -2px;
        }
      }
      width: 100%;
      &:hover, &:focus, &:active {
        .movie-actions {
          @include opacity(0);
          display: none;
        }
      }
    }
    @include media(">468px", "<tablet") {
      width: 71%;
      &:hover {
        .movie-actions {
          @include opacity(0);
          display: none;
        }
      }
    }
  }
}


