.movie-date {
  ul {

    list-style: none;
    padding: 0;
    margin: 0;

    .slick-list {
      width: 83%;
      float: left;
      @media (max-width: $screen-sm-max) {
        width: 74%;
      }
      @media (max-width: $screen-md-max) {
        width: 81%;
      }
      @media (max-width: $screen-xs-min) {
        width: 65%;
      }
    }
    li {
      &:first-child {
        &.slick-arrow {
          float: left;
        }
      }
      &:last-child {
        &.slick-arrow {
          float: right;
        }
      }
      &:hover {
        cursor: pointer;
      }
      &.slick-arrow {
        @media (max-width: $screen-md-max) {
          width: 40px;
        }
        width: 60px;
        height: 65px;
        line-height: 50px;
        span {
          font-size: 20px;
        }
        &.slick-disabled {
          @include opacity(0.5);
        }
      }


      &.active {
        &:hover {
          background-color: $color-primary;
        }
        background-color: $color-primary;
        border-color: $color-primary;
        a {
          p {
            span, strong {
              color: $movie-date-color-active;
            }
          }
        }
      }

      &:hover {
        background-color: $movie-date-bg-hover;
      }
      &.disabled {
        background-color: $movie-date-bg-disabled;
        &.active {
          border: 1px solid #2f2f2f;
          &:hover {
            background-color: $movie-date-bg-disabled;
          }
        }
        a {
          cursor: not-allowed;
          p {
            span, strong {
              color: $movie-date-bg-disabled-font;
            }
          }
        }
      }

      text-align: center;
      display: inline-block;
      border: 1px solid $movie-date-border;
      border-radius: 3px;
      background-color: $movie-date-bg;
      padding: 5px;
      text-transform: uppercase;
      width: 60px;
      margin-right: 10px;
      max-height: 65px;

      a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
        p {
          .week {
            color: $movie-date-color-week;
            font-weight: bold;
            line-height: 16px;
            font-size: 12px;
          }
          margin: 0;
          strong {
            display: block;
            font-size: 30px;
            color: $movie-date-color;
            line-height: 23px;
          }
          span {
            font-weight: normal;
            color: $movie-date-color;
            display: block;
            font-size: 10px;
          }
        }
      }
      .glyphicon-star{
          float: left;
          left: -5px;
          top: -59px;
      }
    }
  }
}

.box-promotion {
    margin-top: 20px;
    .box {
        color: white;
        background-color: black;
        border-radius: 3px;
        padding: 0px 10px;
        text-transform: uppercase;
        font-size: 12px;
    }
}
