.nav-tabs {
  li {
    &.active {
      a, a:hover {
        font-weight: bold;
      }
    }

    a {
      font-weight: bold;
      color: $nav-tabs-text-color;//$color-text-primary;

      background-color: #eeeeee;
      border-color: #eeeeee #eeeeee #ddd;
    }
    a:hover{
        background-color: #e5e5e5;
    }
  }
}

.tab-content {
  padding: 15px;
}
