.nav-links {
    list-style: none;
    border-bottom: 1px solid $color-border-bottom-nav-home;
    margin: $line-height-computed 0 $line-height-computed !important;
    padding-left: 0;
    min-height: 28px;
    @include clearfix;

    &.movie-title {
        li {
            float: right;
            margin-right: 0;
            margin-left: 20px;

            &.active {
                &:before {
                    bottom: -4px;
                }
            }

            &:first-child {
                margin-left: 0;
                font-weight: bold;
                font-size: 23px;
                float: initial;
                width: 100%;

                &:hover {
                    border: 0;
                }

                h1.title {
                    margin: 0;
                    font-weight: normal;
                    margin-top: -10px;
                    display: block;
                    color: $color-text-primary;

                    @include media(">=phone", "<=tablet") {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    li {
        position: relative;

        h2 {
            text-transform: uppercase;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            padding-bottom: (($line-height-computed / 2) - 1);
            margin: 0;
            line-height: 0;
        }

        text-transform: uppercase;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: (($line-height-computed / 2) - 2);
        margin-right: 20px;

        a {
            padding-bottom: (($line-height-computed / 2) - 1);
            display: block;
            color: $color-text-secondary;

            &:hover, &:active, &:focus {
                text-decoration: none;
                outline: none;
                color: $color-text-secondary-hover;
            }
        }

        &.active {
            &:before {
                content: ' ';
                width: 100%;
                display: block;
                //border-bottom: 2px solid $color-text-primary;
                border-bottom: 2px solid $color-primary;
                position: absolute;
                bottom: -1px;
            }

            a {
                color: $color-text-primary;
            }
        }

        &.home-filters, &#filter {
            margin: 0;
            height: 37px;

            @include media("<tablet") {
                display: none;
            }

            float: right;
        }
        // &#filter-select {
        //  margin: 0;
        //  height: 37px;
        //  @include media("<tablet") {
        //    display: none;
        //  }
        //  float: right;
        //}
    }
}
