.steps {
    ol {
      list-style: none;
      margin: auto;
      padding: 0;
      position: relative;
      width: 75%;
      display: block;
      padding-left: 80px;
     
      li {
        display: table-cell;
        width: 1%;
        position: relative;
        @include opacity(0.6);

        &.done {
          @include opacity(1);
          span {
            border-color: $color-primary;
          }
        }
        &:not(:last-child):before {
          content: ' ';
          height: 2px;
          display: block;
          position: absolute;
          border-radius: 4px;
          top: 20px;
          width: 97%;
          left: 20px;
          background: $color-purchase-setp-line;
          z-index: 1;
        }
         &.bombo-icon:before {
          width: 92% !important;
        }
       
         &.chair-choose-icon:before { left: 13px;  } 

         @media (max-width: $screen-xs-min) {
            &.chair-choose-icon:before { left: 7px;  } 
         }
         @media (max-width: $screen-xs-max) {
            &.chair-choose-icon:before { left: 10px;  } 
            &.ticket-choose-icon:before { left: 5px !important;  } 
         }

        &:first-child {
          &:before {
            left: 10px;
          }
        }
        p {
          float: left;
          text-align: center;
          position: relative;
          z-index: 2;
          font-size: 14px;
          color: $color-text-primary;
          span {
            border: 2px solid $color-purchase-setp-border;
            padding: 10px;
            border-radius: 100px;
            color: $color-purchase-setp-color;
            width: 40px;
            height: 40px;
            display: block;
            background: $color-purchase-setp-bg;
            font-size: 17px;
            line-height: 17px;
            margin: auto;
            margin-bottom: 5px;
          }

        }

        @media (max-width: $screen-xs-max) {
        p { font-size: 12px;  } }
      }

      @media (max-width: $screen-sm-max) {
        padding-left: 20px;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 20px;
        width: 100%;
      }

    }
  }