.reload-loyalty {
    float: none;

    @media (max-width: $screen-xs-max) {
        padding-left: 0px !important;
    }
}
.ticket-item {
  min-height: 534px;
  .movie {
    min-height: auto;
    margin-bottom: 0;
    color: $color-card-font;
    img {
      height: 180px;
    }

    h4 {
      margin-top: 0;
      font-size: 19px;
      font-weight: bold;
    }

    .category {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin-right: 5px;
      }

    }

    .info-theater {
      margin-top: 10px;
      font-size: 13px;
      p {
        span {
          font-weight: normal;
          display: block;
          font-size: 12px;
          &.name {
            font-size: 13px;
            font-weight: bold;
          }
        }
      }
    }
    .services {
      dl {
        dt, dd {
          display: inline-block;
        }
        dt {font-weight: bold;}
        dt + dd {
          &:before {
            content: '';
          }
        }
        dd {
          margin-right: 5px;
          &:before {
            content: '•';
            font-size: 14px;
            margin-right: 3px;
            position: relative;
            top: 1px;
          }
        }
      }
    }
  }

  .tickt-date {
    border: 1px dotted $color-card-ticket-lines;
    border-width: 1px 0 1px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    p {
      color: $color-card-fontDateRoom;
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 0;
      text-align: center;
      margin-bottom: 0;
    }

    .room {
      font-size: 13px;
      line-height: 15px;
      color: $color-card-font;
    }

    @media (max-width: $screen-md-max) {
      p {
        font-size: 15px;
      }
    }
  }

  .ticket-alert {
    margin-top: 10px;
    .alert {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      padding: 5px;
      margin-bottom: 5px;
    }
  }

  .tickt-resume {
    color: $color-card-font;
    .list-seat {
      span {
        background: $color-primary-hover;
        padding: 4px;
        border-radius: 4px;
        color: $color-card-ticket-seat-font;
        font-size: 12px;
        font-weight: bold;
        margin: 2px 2px 2px 0;
        display: inline-block;
      }
    }
  }

  .prices {
    margin-top: 20px;
    .dicounts{
      color: $color-card-ticket-discont;
      font-size: 12px;
      font-weight: bold; }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        @include clearfix;
        &:hover {
          background: #f1f1f1;
        }
        &.discounts {
          font-weight: bold;
          font-size: 12px;
          color: $color-card-ticket-discont;
        }
        padding: 0 10px;
        display: block;
        border-bottom: 1px solid $color-card-ticket-lines;
        line-height: 28px;
        text-align: right;
        .templateMessage {
            font-weight: normal;
            font-size: 14px;}
        .discounts {
            font-weight: bold;
            font-size: 12px;
            color: $color-card-ticket-discont; }
        p {
          font-size: 14px;
          margin-bottom: 0;
          font-weight: bold;
          .number-discount {
            @include text-overflow();
            max-width: 100px;
            display: inline-block;
            vertical-align: middle;
          }
          &:first-child {
            float: left;
          }
          display: inline-block;
          .discount {
            text-align: right;
            font-style: italic;
            color: $color-card-ticket-discont;
            font-size: 12px;
            font-weight: normal;
          }
        }
      }
    }

    .total {
      margin-top: 10px;
      padding: 0 10px;
      text-align: right;
      span {
        font-weight: bold;
      }
    }
    .pontos {
      text-align: right;
      font-style: italic;
      color: $color-card-ticket-legend;
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 0;
    }
    .discounts {
      color: $color-card-ticket-discont;
		  font-weight: bold;
    }
  }
  @media (max-width: $screen-sm-max) {
    .card {
      float: none;
    }
  }

  &.horizontal {
    min-height: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 20px;
    @include clearfix;

    .header {
      background: #f3f3f3;
      padding: 8px 0;
      margin-bottom: 0px !important;
      @include clearfix();
      cursor: pointer;
      p {
        margin-bottom: 0;
        display: inline;
        &:last-child {
          float: right;
        }
      }
      .control {
        cursor: pointer;
        span {
          color: $color-primary;
        }
      }
    }

    .detail {
      display: none;
      > div {
        padding-top: 10px;

      }
      > div {
        &:first-child {
          border-right: 1px dotted $my-ticket-border;
        }
      }
    }

    &.open {
      .header {
        margin-bottom: 10px;
        border-bottom: 1px dotted $my-ticket-border;
      }
      .detail {
        display: block;
      }
      .icon-down {
        @include icon(up);
      }
    }

    .movie {
      margin-bottom: 0;
    }
    .tickt-resume {
      border-left: 1px dotted $my-ticket-border;
    }
    .info-theater {
      margin-top: 10px;
    }
    .tickt-date {
      &.md {
        border: 0;
        margin: 0;
        border-bottom: 1px dotted $my-ticket-border;
        > p {
          margin: 0;
          margin-bottom: 5px;
        }
      }
      border-bottom: 0;
      margin-top: 10px;
      p {
        display: inline-block;
        font-size: 14px;
        margin-top: 5px;
      }
      .actions {
        float: right;
        a {
          padding: 0;
          margin-left: 5px;
          text-decoration: none;
          font-size: 17px;
          color: $color-primary;
          span {
            display: none;
          }
        }
      }
    }
    .bonus {
      font-style: italic;
      color: $color-card-ticket-legend;
      font-size: 12px;
      margin-bottom: 0;
      margin-top: 20px;
    }

    @include media("<=480px") {
      .header {
        p {
          display: block;
          float: initial !important;
        }
      }
      .tickt-date {
        clear: both;
        p {
          font-size: 13px;
        }
      }
    }

    @include media(">=phone", "<=tablet") {
      .tickt-date {
        border-bottom: 1px dotted $my-ticket-border;
        p {
        }
      }
      .tickt-resume {
        padding: 0;
      }
    }

    @include media("<340px") {
      .time {
        display: block;
      }
    }
  }
}
