iframe#veloxframe {
  width: 1px;
  min-width: 100%;
  *width: 100%;
}

.velox_plugin {
    @import "../override-variables";
    @import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
    @import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
    @import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
    @import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
    @import "../theme/modals";

    * {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
    }

    &.modal-open {
        overflow: hidden;
    }

    .modal-backdrop {
      z-index: 999999;
    }
    .velox_plugin {
      z-index: 9999999;
      position: relative;
    }

    /** Modal das Badges */
    .badges-header {
      text-align: center;
      i {
        svg {
          fill: $color-primary;
          width: 70px;
          height: 70px;
        }
      }
      p {
        text-align: center;
        margin-bottom: 20px;
        span {
          color: #999;
          display: block;
          font-size: 12px;
        }
      }
    }


    .modal {
        z-index: 99999;

        .modal-content {
            border: 0;
        }

        .modal-header {
            .close {
                margin-top: -2px;
                font-size: 25px;
                color: #747474;
                opacity: 1;
                filter: alpha(opacity=100);
            }
        }

        h4 {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        button.close {
            padding: 0;
            cursor: pointer;
            background: rgba(0, 0, 0, 0);
            border: 0;
            -webkit-appearance: none;
        }

        .close {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            float: right;
            font-size: 21px;
            font-weight: bold;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: 0.2;
            filter: alpha(opacity=20);
        }
    }

    .splashModal {
        .modal-dialog {
            width: auto;
        }

        .modal-body {
            padding: 0px;
        }

        button.close {
            position: fixed;
            right: 0px;
            background-color: #cdcdcd;
            padding: 0px 5px 0px 3px;
            margin: 1px 0px;
            color: #000;
            opacity: 0.5;
            filter: alpha(opacity=50);
            z-index: 2;
        }

        .close {
            margin-top: -2px;
            font-size: 25px;
            color: #747474 !important;
            opacity: 1;
            filter: alpha(opacity=100);
        }
    }
}
